mat-form-field {
  width: 100%;
}

button {
  outline: none;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-areas:
    "title"
    "mat-content";
}

.title {
  grid-area: title;
  font-size: 1.1em;
  opacity: 0.5;
  font-weight: bolder;
}

.mat-content {
  grid-area: mat-content;
}

.mat-content .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-template-areas:
    "loader loader"
    "organizations organizations"
    "message message"
    "areas priority"
    "subject subject"
    "issue issue"
    "button button";
}

.form .organizations {
  grid-area: organizations;
}

.form .loader {
  grid-area: loader;
}

.form .message {
  grid-area: message;
}

.form .areas {
  grid-area: areas;
}

.form .priority {
  grid-area: priority;
}

.form .subject {
  grid-area: subject;
}

.form .issue {
  grid-area: issue;
}

.form .button {
  grid-area: button;
}

.button button {
  width: 100%;
}

.button button mat-icon {
  position: relative;
  top: 4px;
  font-size: 1.2em;
}
