<div class="contenedor background-section animated fadeIn">

  <div class="list-card-loader">
    <mat-progress-bar *ngIf="notificationsLoading$ | async" mode="indeterminate">
    </mat-progress-bar>
  </div>

  <div class="list-card-header animated">
    <div class="list-card-header-title">
      <span class="list-card-header-title-title">
        Notificaciones
      </span>
    </div>


    <div *ngIf="notifications$ | async" class="list-card-header-filter">
      <form class="form">
        <mat-form-field class="example-full-width">
          <mat-label>Buscar notificación</mat-label>
          <input matInput type="text" name="searchNotification" [(ngModel)]="searchNotification" autocomplete="off">
        </mat-form-field>
      </form>
    </div>
  </div>

  <ng-container *ngIf="notifications$ | async as notifications">

    <div class="mensaje" *ngIf="!notifications.length">
      <span *ngIf="!(notificationsLoading$ | async)" class="empty-message">No se encontraron notificaciones</span>
    </div>


    <div class="list-card"
      *ngFor="let notification of (notifications | searchNotification: searchNotification ) | paginator:since:until">
      <div class="list-card-card">
        <app-notifications-list-card [notification]="notification">
        </app-notifications-list-card>
      </div>

      <div class="list-card-divider">
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="paginador">
      <mat-paginator *ngIf="notifications.length" [length]="notifications.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </ng-container>
</div>