.icon-subtitle{
  font-size: 1.6em;
  position: relative;
  top: 6px;
}

.icon{
  position: relative;
  top: 4px;
  font-size: 1.4em;
}

h4{
  position: relative;
  top: 7px;
}

button{
  outline: none;
}

.areasForm{
  width: 100%;
}