/*////////////////////////////////////////*/

.container {
  min-height: 100% !important;
}

.header {
  width: 100%;
  height: 65px;
  background-color: #eeeeee;
}

img {
  font-size: 3em;
  color: red;
  position: relative;
  top: 10vh;
}

h4 {
  position: relative;
  top: 13vh;
  color: rgba(0, 0, 0, 0.4);
}

a{
  text-decoration: none;
}

form {
  width: 250px;
}

.form-container {
  background-color: white;
  position: relative;
  top: 15vh;
  padding: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  height: 50px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

button {
  outline: none;
}

.foot {
  font-size: 0.8em;
}
