<div class="auth">
  <div class="container">
    <div class="row general-content d-flex justify-content-center">
      <div class="col-md-9 general-content-child">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 content-info">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-start">
                <h1>Follower</h1>
              </div>
            </div>
            <hr style="background-color: rgba(255, 255, 255, .5)">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <p>Te damos la bienvenida a Follower, una herramienta de <b>Tickets</b> con la que vas a podes gestionar las solicitudes y tareas de tu organización.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <i class="material-icons">
                  local_play
                </i>
              </div>
            </div>
          </div>
          <div class="col-md-6 content-login d-flex align-items-center">
            <div class="row d-flex justify-content-center">
              <div class="col-md-9 alert alert-danger d-flex justify-content-center" *ngIf="error" role="alert">
                <p>Oops, hubo un problema: <b>{{error}}</b></p>
              </div>
              <div class="col-md-9">
                <h4>Login</h4>
              </div>
              <div class="col-md-9">
                <form #f="ngForm" (ngSubmit)="login(f)">
                  <mat-form-field>
                    <input matInput color="warn" type="email" placeholder="Email" ngModel name="email"
                      placeholder="Correo electrónico" autocomplete="off" required>
                  </mat-form-field>
                  <mat-form-field class="mb-3">
                    <input matInput type="password" placeholder="*********" ngModel name="password"
                      placeholder="Contraseña" required>
                  </mat-form-field>


                  <button *ngIf="!cargando" mat-raised-button color="primary" class="btn-block"
                    [disabled]="!f.valid">Iniciar
                    sesión</button>
                  <button *ngIf="cargando" mat-raised-button color="accent" class="btn-block" [disabled]="true"> <i
                      class="fa fa-spin fa-sync"></i> Iniciando sesion...</button>

                </form>
              </div>
              <div class="col-md-9 d-flex justify-content-center mt-4 foot">
                <span class="text-small">
                  <b class="text-muted mr-2">No estás registrado? </b>
                  <a routerLink="/register" class="text-info text-small">Create una cuenta</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
