<ng-container *ngIf="animation$ | async as animation">
  <div class="row animated d-flex align-items-end mb-3" [ngClass]="animation[0]">
    <div class="col-md-10">
      <h4>Mis organizaciones</h4>
    </div>
    <div class="col-md-2 d-flex justify-content-end">
      <button mat-mini-fab color="accent" (click)="createOrganization()">
         <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <mat-progress-bar *ngIf="organizationsLoading$ | async" mode="query"></mat-progress-bar>
   
  <ng-container *ngIf="organizations$ | async as organizations">
    <div class="animated d-flex aligns-items-center justify-content-center" *ngIf="!organizations.length && organizationsLoaded$ | async">
      <span>Todavia no es propietario de ninguna organziación</span>
    </div>
    <div class="animated delay-300ms mt-4" [ngClass]="animation[0]" *ngIf="organizations.length">
      <app-organization-list></app-organization-list>
    </div>
  </ng-container>
</ng-container>
