<ng-container *ngIf="animation$ | async as animation">
  <div class="contenedor">
    <!-- User Section -->
    <!-- <div class="user-section">
      <app-user-profile></app-user-profile>
    </div> -->
    <!-- User Section end -->
    <!-- Organization section -->
    <div class="organizations-section">
      <!-- Organization section header -->
      <div class="organizations-section-header animated" [ngClass]="animation[0]">
        <div class="organizations-section-header-title">
          <h4 class="text-muted header-title">Mis organizaciones</h4>
        </div>
        <div class="organizations-section-header-button">
          <button class="header-button" mat-button color="warn" (click)="createOrganization()">
            <span class="button-span">Nueva Organización</span>
          </button>
        </div>
      </div>
      <!-- Organization section header end -->
      <!-- Organization section loader -->
      <div class="organizations-section-loader">
        <mat-progress-bar *ngIf="organizationsLoading$ | async" mode="indeterminate">
        </mat-progress-bar>
      </div>
      <!-- Organization section loader end -->
      <!-- <ng-container *ngIf="organizationsLoaded$ | async"> -->
      <ng-container *ngIf="organizations$ | async as organizations">
        <!-- Organization section organizations -->
        <div class="organizations-section-organizations animated delay-300ms" [ngClass]="animation[0]">
          <app-organization-list [organizations]="organizations" [user]="user"></app-organization-list>
        </div>
        <!-- Organization section organizations -->
      </ng-container>
      <!-- </ng-container> -->
    </div>
    <!-- Organization section end -->
    <!-- Tickets Section -->
    <div class="tickets-section">
      <!-- Ticket Section Header -->
      <div class="tickets-section-header animated" [ngClass]="animation[0]">
        <div class="tickets-section-header-title">
          <h4 class="text-muted header-title">Mis tickets
          </h4>
        </div>
        <div class="tickets-section-header-button">
          <button class="header-button" mat-button color="warn" (click)="createTicket()">
            <span class="button-span">Generar ticket</span>
          </button>
        </div>
      </div>
      <!-- Ticket Section Header end-->
      <!-- Ticket Section loader -->
      <div class="tickets-section-loader">
        <mat-progress-bar *ngIf="ticketsLoading$ | async" mode="indeterminate">
        </mat-progress-bar>
      </div>
      <!-- Ticket Section loader end -->
      <ng-container *ngIf="tickets$ | async as tickets">
        <!-- Ticket section Ticket List -->
        <div class="tickets-section-tickets animated delay-300ms" [ngClass]="animation[0]">
          <app-ticket-list [tickets]="tickets" [user]="user"></app-ticket-list>
        </div>
        <!-- Ticket section Ticket List end -->
      </ng-container>
    </div>
    <!-- Tickets Section end -->
  </div>
</ng-container>