<ng-container *ngIf="animation$ | async as animation">
  <div class="row">
    <div class="col-md-12 mb-5">
      <app-user-profile></app-user-profile>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12 mb-5">
      <div class="row animated d-flex align-items-end mb-3" [ngClass]="animation[0]">
        <div class="col">
          <h4 class="text-muted title">Mis tickets</h4>
        </div>
        <div class="col d-flex justify-content-end">
          <button mat-flat-button color="warn" (click)="createTicket()">
            <span>Generar ticket</span>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <mat-spinner class="mt-5" diameter="30" *ngIf="ticketsLoading$ | async"></mat-spinner>
        </div>
      </div>

      <ng-container *ngIf="ticketsLoaded$ | async">
        <ng-container *ngIf="tickets$ | async as tickets">
          <div class="animated delay-300ms mt-3" [ngClass]="animation[0]">

            <app-ticket-list [tickets]="tickets" [user]="user"></app-ticket-list>

          </div>
        </ng-container>
      </ng-container>
    </div>


    <div class="col-md-12 mt-3">
      <div class="row animated d-flex align-items-end mb-3" [ngClass]="animation[0]">
        <div class="col">
          <h4 class="text-muted title">Mis organizaciones</h4>
        </div>
        <div class="col d-flex justify-content-end">
          <button mat-flat-button color="warn" (click)="createOrganization()">
            <span>Crear Organización</span>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <mat-spinner class="mt-5" diameter="30" *ngIf="organizationsLoading$ | async"></mat-spinner>
        </div>
      </div>

      <ng-container *ngIf="organizationsLoaded$ | async">
        <ng-container *ngIf="organizations$ | async as organizations">
          <div class="animated delay-300ms mt-3" [ngClass]="animation[0]">
            <app-organization-list [organizations]="organizations" [user]="user"></app-organization-list>
          </div>
        </ng-container>
      </ng-container>
    </div>

  </div>
</ng-container>