.card{
  min-width: 270px;
  min-height: 290px;
}

h6{
  width: 200px;
}

.card-subtitle{
  font-size: .9em;
}

.owner-icon{
  position: relative;
  bottom: 2px;
}

.member-icon{
  position: relative;
  bottom: 3px;
}

.organization-card-info{
  font-size: 14px;
}

.btn-warning{
  font-size: .8em;
  background-color: rgb(255, 153, 0);
  color: rgb(253, 234, 198)
}

.btn-warning:hover{
  font-size: .8em;
  background-color: rgb(255, 136, 0);
  color: rgb(255, 255, 255);
  transition: all .3s;
}

.btn-info{
  font-size: .8em;
}


.btn-danger{
  font-size: .8em;
}

.icon-container{
  position: relative;
  top: 5px;
  bottom: 20px;
}

.title{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}