  <div class="col-md-12 animated fadeIn mb-4">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h5 class="title" [matTooltip]="organization.name" matTooltipPosition="below">
            <span *ngIf="organization.created_by === user._id" class="mr-2 icon">
              <mat-icon color="warn">stars</mat-icon>
            </span>
            <span *ngIf="organization.created_by !== user._id" class="mr-2 icon">
              <mat-icon color="primary">account_circle</mat-icon>
            </span>
            {{organization.name}}
          </h5>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content class="mt-2">
        <div class="d-flex justify-content-end">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="selectOrganization(organization)">
              <mat-icon>arrow_forward</mat-icon>
              <span>Ingresar a la organización</span>
            </button>
            <ng-container *ngIf="organization.created_by === user._id">
              <button *ngIf="!organization.deleted_at" mat-menu-item (click)="updateOrganization(organization)">
                <mat-icon>create</mat-icon>
                <span>Editar nombre</span>
              </button>
              <button *ngIf="!organization.deleted_at" mat-menu-item (click)="deleteOrganization(organization)">
                <mat-icon>delete</mat-icon>
                <span>Dar de baja</span>
              </button>
              <button *ngIf="organization.deleted_at" mat-menu-item (click)="reactivateOrganization(organization)">
                <mat-icon>history</mat-icon>
                <span>Restaurar</span>
              </button>
            </ng-container>
          </mat-menu>
        </div>

        <div class="content d-flex justify-content-start">
          <span class="organization-card-info" *ngIf="areas$ | async as areas">
            <mat-icon class="icon-content">bookmarks</mat-icon>
            Áreas / {{areas.length}}
          </span>
        </div>
        <div class="content d-flex justify-content-start">
          <span class="organization-card-info" *ngIf="members$ | async as members">
            <mat-icon class="icon-content">face</mat-icon>
            Miembros / {{members.length}}
          </span>
        </div>
        <div class="content d-flex justify-content-start">
          <span class=" organization-card-info">
            <mat-icon class="icon-content">watch_later</mat-icon>
            Creada el /
            <span class="text-exito">
              {{organization.created_at | date:'dd-MM-yyyy'}}
            </span>
          </span>
        </div>
        <div class="content d-flex justify-content-start" *ngIf="organization.deleted_at">
          <span class="organization-card-info">
            <mat-icon class="icon-content">delete</mat-icon> Dada de baja el /
            <span class="text-peligro">
              {{organization.deleted_at | date:'dd-MM-yyyy'}}
            </span>
          </span>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
