<div class="contenedor">
  <div class="image">
    <img class="card-img" mat-card-avatar [src]="comment.created_by.img | image" alt="">
  </div>
  <div class="name">
    <span>{{comment.created_by.name | titlecase}} {{comment.created_by.last_name | titlecase}}</span>
  </div>
  <span class="comment-info"><span>{{comment.type | titlecase}}</span>
    <b>{{comment.created_at | time}}</b></span>
  <div class="comment">
    <div class="comment-content sb6">
      <span class=content>{{comment.message}}</span>
    </div>
  </div>
</div>