<div class="contenedor">
  <div class="mensaje" *ngIf="!areas.length">
    <span class="empty-message">No se encontraron áreas en esta organización.</span>
  </div>

  <ng-container *ngIf="areas.length">
    <div class="list-card" *ngFor="let area of areas | areasPaginator:since:until" [ngClass]="animation[0]">
      <div class="list-card-card">
        <app-areas-list-card [organization]="organization" [area]="area" [user]="user"></app-areas-list-card>
      </div>
      <div class="list-card-divider">
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="paginador">
      <mat-paginator [length]="areas.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </ng-container>
</div>