<ng-container *ngIf="animation$ | async as animation">
  <div class="content">
    <div class="row d-flex align-items-between">
      <div class="col d-flex align-items-center">
        <h6 class="subject" [matTooltip]="ticket.subject" matTooltipPosition="right">
          <span>
            <mat-icon class="icon-ticket" color="warn">local_activity</mat-icon>
          </span>
          {{ticket.subject | titlecase}} 
        </h6>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="button" mat-icon-button matTooltip="Ver detalle" matTooltipPosition="above"
          (click)="selectOrganization(organization)">
          <mat-icon class="icon-ticket-in">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    
      <div class="row mb-2">
        <div class="col-md-12">
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">emoji_objects</mat-icon>
            Estado /
            <span class="badge badge-primary badge-ticket-status ml-1">{{ticket.status}}</span>
          </span>
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">timeline</mat-icon>
            Movimientos /
            <span class="success ml-1">
              {{ticket.movements.length }}
            </span>
          </span>
          <!-- <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">comment</mat-icon>
            Comentarios /
            <span class="success ml-1">
              {{ticket.comments.length }}
            </span>
          </span> -->

          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">watch_later</mat-icon>
            Creado el /
            <span class="success ml-1">
              {{ticket.created_at | date:'dd-MM-yyyy'}}
            </span>
          </span>
        </div>
      </div>
  </div>
  <!-- </mat-expansion-panel> -->
</ng-container>