<ng-container *ngIf="animation$ | async as animation">
  <div class="contenedor">
    <!-- Header section -->
    <div class="header-section">
      <!-- Header section title -->
      <div class="header-section-title">
        <h6 class="header-section-title-title" [matTooltip]="ticket.subject" matTooltipPosition="right">
          <span>
            <mat-icon class="icon-header" color="warn">local_activity</mat-icon>
          </span>
          {{ ticket.subject | titlecase }}
        </h6>

        <span class="header-section-title-subtitle">
          Nº {{ ticket._id }}
        </span>
      </div>
      <!-- header section title end -->
      <!-- header section buttons -->
      <div class="header-section-buttons">
        <button class="button" mat-icon-button matTooltip="Ver detalle" matTooltipPosition="above"
          (click)="ticketDetail(ticket)">
          <mat-icon class="button-icon">arrow_forward</mat-icon>
        </button>
      </div>
      <!-- header section buttons end -->
    </div>
    <!-- header section end -->
    <!-- <div class="container">
      <div class="row mb-2">
        <div class="col-md-12">
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">flag</mat-icon>
            Estado /
            <span class="badge badge-primary badge-ticket-status ml-1 p-1">{{
              ticket.status
            }}</span>
          </span>
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">apartment</mat-icon>
            Organización /
            <span class="ml-1">
              {{ ticket.area.organization.name | titlecase }}
            </span>
          </span>
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">bookmark</mat-icon>
            Área /
            <span class="ml-1">
              {{ ticket.area.name | titlecase }}
            </span>
          </span>
          <span class="ticket-card-info d-flex align-items-center">
            <mat-icon class="icon">assignment_ind</mat-icon>
            Responsable /
            <span class="ml-1" *ngIf="ticket.responsible">
              {{ ticket.responsible.user.name | titlecase }} {{ ticket.responsible.user.last_name | titlecase }}
            </span>
            <span class="ml-1" *ngIf="!ticket.responsible">
              Sin asignar
            </span>
          </span>
          <span class="ticket-card-info d-flex align-items-center">
            <span>
              <mat-icon class="icon">watch_later</mat-icon>Creado
              <span class="success">
                {{ ticket.created_at | time }}
              </span>
              por
              {{ ticket.created_by.name | titlecase }}
              {{ ticket.created_by.last_name | titlecase }}
            </span>
          </span>
        </div>
      </div>
    </div> -->
  </div>
</ng-container>