button {
  outline: none;
}

/* CSS GRID */

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-section"
    "info-section";
  gap: 3px;
}

.contenedor .header-section {
  height: 35px;
  grid-area: header-section;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-section .header-section-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-section-title-title"
    "header-section-title-subtitle";
}

.header-section-title .header-section-title-title {
  grid-area: header-section-title-title;
  display: flex;
  align-items: center;
}

.header-section .header-section-buttons {
  display: flex;
  justify-content: flex-end;
}

.contenedor .info-section {
  grid-area: info-section;
}

.info-section > span {
  opacity: 0.7;
  font-size: 0.8em;
}

/* CSS GRID END */

.icon-header {
  font-size: 1.3em;
  position: relative;
  top: 5px;
  right: 2px;
}

.header-section-title .header-section-title-subtitle {
  position: relative;
  bottom: 9px;
  left: 27px;
  font-size: 0.7em;
  opacity: 0.4;
  grid-area: header-section-title-subtitle;
}

.button {
  position: relative;
  bottom: 8px;
}

.button .button-icon {
  font-size: 1.1em;
}

.badge-ticket-status {
  font-size: 0.5em;
  position: relative;
  bottom: 2px;
  left: 7px;
  line-height: 12px;
}

.header-section-title-title > h6 {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 990px) {
  .header-section-title-title > h6 {
    max-width: 230px;
  }
}
