<div class="contenedor animated fadeIn">
  <!-- Header section -->
  <div class="header-section">
    <!-- Header section title -->
    <div class="header-section-title">
      <img mat-card-avatar class="mat-card-img" [src]="member.user.img | image: member.user.genre" alt="">
      <span class="header-section-title-title" [ngClass]="{'deleted': member.deleted_at}">
        {{member.user.name | titlecase}} {{member.user.last_name | titlecase}}
      </span>
      <!-- <span class="header-section-title-subtitle">
        Creado {{member.created_at | time}}
      </span> -->
      <span class="header-section-title-subtitle">
        {{member.user.email | lowercase}}
      </span>
    </div>
    <!-- header section title end -->
    <!-- header section buttons -->
    <div class="header-section-buttons">
      <button class="button" mat-icon-button *ngIf="area" (click)="setResponsibleMember(member)">
        <mat-icon matTooltip="Asignar como responsable" *ngIf="!area.responsible" matTooltipPosition="above"
          class="button-icon responsible">face
        </mat-icon>
        <mat-icon matTooltip="Asignar como responsable"
          *ngIf="area.responsible && area.responsible.user._id !== member.user._id" matTooltipPosition="above"
          class="button-icon responsible">emoji_emotions
        </mat-icon>
        <mat-icon matTooltip="Quitar como responsable"
          *ngIf="area.responsible && area.responsible.user._id === member.user._id" matTooltipPosition="above"
          class="button-icon warning">emoji_emotions
        </mat-icon>
      </button>

      <button class="button" mat-icon-button (click)="deleteMember(member, area)">
        <mat-icon matTooltip="Quitar miembro" matTooltipPosition="above" class="button-icon danger">delete
        </mat-icon>
      </button>
    </div>
    <!-- header section buttons end -->
  </div>
  <!-- Header section end -->
</div>