<div class="content">
  <div class="row d-flex align-items-center">
    <div class="col d-flex align-items-center">
      <h6 class="title">{{area.name | titlecase}}</h6>
    </div>
    
    <div class="col d-flex justify-content-end">
      <ng-container *ngIf="organization.created_by._id === user._id">

        <button class="button" mat-icon-button matTooltip="Ingresar al área" matTooltipPosition="above"
          (click)="selectArea(area)">
          <mat-icon class="icon-content-in">arrow_forward</mat-icon>
        </button>

        <button *ngIf="!area.deleted_at" class="button" mat-icon-button (click)="deleteArea(area)"
          matTooltip="Dar de baja" matTooltipPosition="above">
          <mat-icon class="icon-content-in">delete</mat-icon>
        </button>

        <button *ngIf="area.deleted_at" class="button" mat-icon-button (click)="activateArea(area)" matTooltip="Activar"
          matTooltipPosition="above">
          <mat-icon class="icon-content-in">history</mat-icon>
        </button>

      </ng-container>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">

      <span class="organization-card-info d-flex align-items-center" *ngIf="area.responsible">
        <mat-icon class="icon">face</mat-icon>
        <span>Responsable /
          {{area.responsible.user.name | titlecase}} {{area.responsible.user.last_name | titlecase}}
        </span>
      </span>

      <span class="organization-card-info d-flex align-items-center" *ngIf="!area.responsible">
        <mat-icon class="icon">face</mat-icon>
        <span>Responsable / Sin responsable</span>
      </span>


      <span class="organization-card-info d-flex align-items-center">
        <mat-icon class="icon">watch_later</mat-icon>
        <span>Creada el 
          <span class="success">
            {{area.created_at | date:'fullDate'}}
          </span>
        </span>
      </span>

      <span class="organization-card-info d-flex align-items-center" *ngIf="area.deleted_at">
        <mat-icon class="icon">delete</mat-icon>
        <span>
          Dada de baja el 
          <span class="danger">
            {{area.deleted_at | date:'fullDate'}}
          </span>
        </span>
      </span>

    </div>
  </div>
</div>