button{
  outline: none;
}

mat-card {
  overflow: hidden;
}

.area-title{
  font-size: 1em;
}

.section-title{
  font-size: 1.1em;
  position: relative;
  bottom: 1px;
}

.section-title-container {
  opacity: .6;
}

.subtitle{
  font-size: .8em;
}

.icon-subtitle{
  font-size: 1.6em;
  position: relative;
  top: 6px;
}

.organization-card-info {
  font-size: .9em;
  margin-right: 20px;
  position: relative;
  top: 8px;
}

.background-content-card-active{
  background-color: rgba(205, 205, 205, 0.2);
}

.background-content-card-inactive {
  background-color: rgba(160, 160, 160, 0.2);
  opacity: .5;
}

.line-through{
  text-decoration: line-through;
}

.value {
  cursor:pointer;
  font-size: 2.1em;
  font-weight: bolder;
}

/* ///////////////////////////////// */
/* EXPANSION PANEL */

.expansion-panel {
  width: 100%;
  background-color: rgba(205, 205, 205, 0.1);
}

.responsible-icon {
  font-size: 1.2em;
  position: relative;
}

.none-responsible-icon {
  font-size: 1.2em;
  position: relative;
  bottom: 2px;
  opacity: 0.3;
}

.member-table {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.member-table-content {
  font-size: 0.9em;
}

.more-info {
  font-size: 0.9em;
  position: relative;
  top: 2px;
}

.add-member-button {
  font-size: 0.9em;
}

.background-content-expansion-active {
  background-color: rgba(230, 230, 230, 0.3);
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}