button {
  outline: none;
}

mat-form-field {
  width: 100% !important;
}

/* CSS GRID */
.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "loader"
    "ticket-section"
    "comment-section";
  grid-gap: 20px;
}

.contenedor .loader {
  grid-area: loader;
  display: flex;
  justify-content: center;
}

.contenedor .ticket-section {
  /* background-color: rgba(0, 255, 0, 0.1); */
  grid-area: ticket-section;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* MESSAGE SECTION */
.ticket-section .message-section {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "message-section-header"
    "message-section-incident";
}

.message-section .message-section-header {
  grid-area: message-section-header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;
}

.message-section-header .message-section-header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message-section-header .message-section-header-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message-section .message-section-incident {
  grid-area: message-section-incident;
}

/* PROPERTIES SECTION */
.ticket-section .properties-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-areas:
    "properties-section-header"
    "properties-section-info"
    "properties-section-form";
}

.properties-section .properties-section-form {
  grid-area: properties-section-form;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  grid-template-areas:
    "properties-section-form-responsible"
    "properties-section-form-priority"
    "properties-section-form-status"
    "properties-section-form-button";
}

.properties-section-form .properties-section-form-status {
  grid-area: properties-section-form-status;
  display: flex;
  justify-content: center;
}
.properties-section-form .properties-section-form-responsible {
  grid-area: properties-section-form-responsible;
}
.properties-section-form .properties-section-form-priority {
  grid-area: properties-section-form-priority;
}
.properties-section-form .properties-section-form-button {
  grid-area: properties-section-form-button;
}

.properties-section .properties-section-header {
  grid-area: properties-section-header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;
}

.properties-section-header .properties-section-header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.properties-section .properties-section-info {
  grid-area: properties-section-info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  gap: 0px;
}

/* COMMENT SECTION */
.contenedor .comment-section {
  margin-bottom: 50px;
  grid-area: comment-section;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  grid-template-areas:
    "comment-section-form"
    "comment-section-comments";
}

.comment-section .comment-section-form {
  grid-area: comment-section-form;
}

.comment-section .comment-section-comments {
  grid-area: comment-section-comments;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "comment-section-comments-header"
    "comment-section-comments-loader"
    "comment-section-comments-comment-list";
  gap: 10px;
}

.comment-section-comments .comment-section-comments-header {
  grid-area: comment-section-comments-header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;
}

.comment-section-comments-header .comment-section-comments-header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-section-comments .comment-section-comments-loader {
  grid-area: comment-section-comments-loader;
}

.comment-section-comments .comment-section-comments-comment-list {
  grid-area: comment-section-comments-comment-list;
}

/* CSS GRID END */

.textarea {
  width: 100% !important;
}

.incident-description {
  font-size: 0.9em;
}

.button {
  width: 100%;
}

.badge {
  border-radius: 3px;
  padding: 2px 3px;
  font-size: 0.8em;
  line-height: 12px;
}

.member-card-img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 9px;
  margin-right: 5px;
}

.content {
  min-height: 145px;
}

.header-title {
  font-size: 1em;
  opacity: 0.6;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ticket-card-info {
  font-size: 0.8em;
}

.icon {
  font-size: 1.3em;
}

.icon-ticket {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

.message-section-header-info {
  font-size: 0.7em;
  opacity: 0.5;
  position: relative;
  bottom: 2px;
  left: 23px;
}

.icon {
  position: relative;
  top: 4px;
}

.icon-ticket-in {
  position: relative;
  bottom: 2px;
  font-size: 1.2em;
}

.radio-buttons {
  margin-right: 15px;
  font-size: 0.9em;
}

.radio-buttons span {
  opacity: 0.6;
}

.save-icon {
  font-size: 1em;
  position: relative;
  top: 2px;
}

@media (max-width: 990px) {
  .header-title {
    width: 200px;
  }
}
