button {
  outline: none;
}
/* CSS GRID */

.contenedor {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organization-loader"
    "organization-button-back"
    "organization-profile"
    "organization-children";
  gap: 20px;
}

.contenedor .organization-loader {
  grid-area: organization-loader;
  margin-top: 15px;
}

.contenedor .organization-button-back {
  grid-area: organization-button-back;
}

.contenedor .organization-profile {
  grid-area: organization-profile;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organization-profile-header"
    "organization-profile-content";
  gap: 15px;
}

.organization-profile .organization-profile-header {
  grid-area: organization-profile-header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px;
  grid-template-areas:
    "organization-profile-header-title organization-profile-header-button"
    "organization-profile-header-subtitle organization-profile-header-button";
}

.organization-profile-header .organization-profile-header-title {
  grid-area: organization-profile-header-title;
}

.organization-profile-header .organization-profile-header-title span {
  font-weight: bolder;
  font-size: 1.3em;
  opacity: 0.7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.organization-profile-header .organization-profile-header-subtitle {
  grid-area: organization-profile-header-subtitle;
  opacity: 0.5;
  font-size: 0.7em;
}

.organization-profile-header .organization-profile-header-button {
  grid-area: organization-profile-header-button;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.organization-profile .organization-profile-content {
  grid-area: organization-profile-content;
}

.contenedor .organization-children {
  grid-area: organization-children;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organization-children-buttons"
    "organization-children-divider"
    "organization-children-container";
  gap: 15px;
}

.organization-children .organization-children-buttons {
  grid-area: organization-children-buttons;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.organization-children-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  width: 100%;
}

.button button mat-icon {
  position: relative;
  top: 2px;
  font-size: 1.4em;
}

.active {
  background-color: #202f3f !important;
  transition: ease-in-out 0.3s;
  color: white;
}

.organization-children .organization-children-divider {
  grid-area: organization-children-divider;
}

.organization-children .organization-children-container {
  grid-area: organization-children-container;
}

@media (max-width: 767px) {
  .organization-profile-header .organization-profile-header-title span {
    width: 230px;
  }
}
