<div class="contenedor">
  <div class="mensaje animated" *ngIf="!organizations.length">
    <span class="empty-message">Parece que no perteneces a ninguna organización. Créa la tuya propia y bríndales la
      mejor asistencia a tus clientes</span>
  </div>

  <ng-container *ngIf="organizations.length">
    <div class="list-card" *ngFor="let organization of organizations | organizationPaginator:since:until">
      <div class="list-card-card animated fadeIn">
        <app-organization-list-card [organization]="organization" [user]="user">
        </app-organization-list-card>
      </div>
      <div class="list-card-divider">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="paginador">
      <mat-paginator [length]="organizations.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </ng-container>
</div>