<ng-container *ngIf="userAreas$ | async as userAreas">

  <span class="text-muted" *ngIf="!userAreas.length">No es miembro de ningún área</span>
  <app-loading *ngIf="loading"></app-loading>
  <table class="table" *ngIf="userAreas.length">
    <thead>
      <tr class="bg-personalized">
        <td>Área</td>
        <td>Responsable</td>
        <td>Miembros</td>
        <td>Fecha de alta</td>
        <td>Fecha de baja</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr app-organization-areas-list-items *ngFor="let userArea of userAreas" [area]="userArea" [user]="user">
      </tr>
    </tbody>
  </table>

</ng-container>
