<div class="col-md-12">
  <h5 *ngIf="data.area === 'nueva'">
    Nueva Área
  </h5>
  <h5 *ngIf="data.area !== 'nueva'">
    Editar el Área
  </h5>
</div>
<mat-divider></mat-divider>

<ng-container *ngIf="areaLoading$ | async">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </div>
</ng-container>

<div mat-dialog-content class="mt-3" *ngIf="data.area === 'nueva' || (areaLoaded$ | async)">
  <form [formGroup]="form" (ngSubmit)="createOrUpdateArea()">
    <div class="col-md-12 d-flex justify-content-end">
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre del Área" formControlName="area" name="area"
          autocomplete="off">
        <mat-error *ngIf="form.controls['area'].errors?.avaible">
          Ya <strong>existe</strong> un área con este nombre en esta organización.<strong>
            Por favor elije otro.</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['area'].errors?.required">
          <strong>No olvides</strong> escribir arriba un nombre para el área tu organización.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12 d-flex justify-content-end mt-4">
      <button type="submit" mat-raised-button color="accent" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        <span> Guardar</span>
      </button>
    </div>
  </form>
</div>
