<div class="col-md-12">
  <h5>
    Generar nuevo ticket
  </h5>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="mt-4">

  <form [formGroup]="form" (ngSubmit)="createTicket()">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-start">
          <mat-form-field>
            <mat-label>Organización</mat-label>
            <mat-select formControlName="organization" (selectionChange)="selectOrganization()">
              <mat-option *ngFor="let organization of organizations$ | async as organization" [value]="organization">
                {{organization.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <mat-spinner class="mt-5" diameter="30" *ngIf="areasLoading"></mat-spinner>
        </div>
      </div>

      <ng-container *ngIf="areas$ | async as areas">

        <div class="d-flex aligns-items-center justify-content-start" *ngIf="!areas.length">
          <span class="empty-message mt-2">La organización seleccionada no tiene ningun área disponible a la que se le pueda asignar un ticket.</span>
        </div>

        <div *ngIf="areas.length">
          <div class="row d-flex justify-content-between align-items-center mb-5">
            <div class="col-md-6 d-flex justify-content-start">
              <mat-form-field>
                <mat-label>Área</mat-label>
                <mat-select formControlName="area">
                  <mat-option *ngFor="let area of areas" [value]="area">
                    {{area.name | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 d-flex justify-content-start">
              <mat-form-field>
                <mat-label>Prioridad</mat-label>
                <mat-select formControlName="priority">
                  <mat-option *ngFor="let priority of priorities" [value]="priority">
                    {{priority | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Asunto</mat-label>
                <input matInput #subject minlength="1" maxlength="50" type="text" formControlName="subject"
                  name="subject" autocomplete="off">
                <mat-hint align="end">{{subject.value.length}} / 50</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Descripción del problema</mat-label>
                <textarea matInput #issue minlength="1" maxlength="256" type="text" rows="3" formControlName="issue"
                  name="issue" autocomplete="off"></textarea>
                <mat-hint align="end">{{issue.value.length}} / 256</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>


      <div class="col-md-12 d-flex justify-content-end mt-5">
        <button type="submit" mat-flat-button color="warn" [disabled]="form.invalid">
          <mat-icon>done</mat-icon>
          <span> Generar el ticket</span>
        </button>
      </div>
    </div>
  </form>
</div>