button {
  outline: none;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 25px;
  margin-bottom: 20px;
}

.contenedor .mensaje {
  grid-row: 1fr;
}

.contenedor .list-card {
  grid-row: 1fr;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "list-card-card"
    "list-card-divider";
  grid-gap: 15px;
}

.contenedor .list-card-header {
  grid-row: 1fr;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.list-card-header-title .list-card-header-title-title {
  font-size: 1.1em;
  position: relative;
  top: 2px;
  opacity: 0.5;
  font-weight: bolder;
}

.list-card-header-title .list-card-header-button {
  position: relative;
  bottom: 1px;
  font-size: 0.8em;
}

.list-card-header .list-card-header-filter {
  display: flex;
  justify-content: flex-end;
}

.list-card-header-filter .form,
mat-form-field {
  width: 100%;
  font-size: 0.9em;
  opacity: 0.8;
  justify-content: end;
}

.list-card-header-filter .form {
  width: 60%;
  max-width: 300px;
}

.list-card .list-card-card {
  grid-area: list-card-card;
}

.list-card .list-card-divider {
  grid-area: list-card-divider;
}

.contenedor .paginador {
  grid-row: 1fr;
}

@media (max-width: 767px) {
  /* .contenedor .list-card-header {
    text-align: center;
  } */

  .list-card-header-filter .form {
    width: 180px;
  }
}
