button {
  outline: none;
}

/* CSS GRID */

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-section"
    "info-section";
}

.contenedor .header-section {
  grid-area: header-section;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header-section-title header-section-buttons";
}

.header-section .header-section-title {
  grid-area: header-section-title;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 27px auto;
  grid-template-areas:
    "header-section-title-title"
    "header-section-title-subtitle";
}

.header-section-title .header-section-title-title {
  margin: 0px;
  grid-area: header-section-title-title;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.header-section .header-section-buttons {
  grid-area: header-section-buttons;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 5px;
}

.contenedor .info-section {
  grid-area: info-section;
}

.info-section > span {
  position: relative;
  left: 10px;
  opacity: 0.7;
  font-size: 0.7em;
}

/* CSS GRID END */

.icon-header {
  font-size: 1.3em;
  position: relative;
  top: 5px;
  right: 0px;
}

.icon {
  font-size: 1.1em;
  position: relative;
  top: 2px;
  left: 7px;
}

.extra-icon {
  font-size: 1.2em;
  position: relative;
  top: 5px;
  left: 12px;
  opacity: 0.5;
}

.header-section-title .header-section-title-subtitle {
  position: relative;
  bottom: 2px;
  left: 28px;
  font-size: 0.7em;
  opacity: 0.4;
  grid-area: header-section-title-subtitle;
}

.button {
  position: relative;
  bottom: 8px;
}

.button .button-icon {
  font-size: 1.2em;
}

.badge-ticket-status {
  border-radius: 3px;
  padding: 2px 4px 1px 4px;
  font-size: 0.6em;
  position: relative;
  left: 7px;
  top: 2px;
  line-height: 11px;
  font-weight: bold;
}

.badge-ticket-status > span {
  position: relative;
  top: 2px;
}

.header-section-title-title-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-section-title-title-container .title {
  font-size: 0.9em;
  font-weight: 600;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header-section-title-title-container {
    max-width: 230px;
  }

  .header-section .header-section-buttons {
    grid-area: header-section-buttons;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 1px;
  }
}
