<ng-container *ngIf="user$ | async as user">
<mat-toolbar color="primary" class="d-flex justify-content-between">
    <span>Follower</span>
  
    <div class="d-flex justify-content-end align-items-center">
        <span class="user-name">Hola, {{user.name}} {{user.last_name}}</span>
        <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>person_pin</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectOrganization(organization)">
            <mat-icon>local_offer</mat-icon>
            <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)=logout()>
              <mat-icon>power_settings_new</mat-icon>
              <span>Cerrar sesión</span>
            </button>
        </mat-menu>
      </div>
    <!-- This fills the remaining space of the current row -->
 
  </mat-toolbar>
</ng-container>