<nav class="sidebar position-sticky sticky-left">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button mat-icon-button color="basic" routerLink="organizations" matTooltip="Mis organizaciones" matTooltipPosition="right">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button mat-icon-button color="basic" routerLink="organizations" matTooltip="Bandeja de entrada" matTooltipPosition="right">
        <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button mat-icon-button color="basic" routerLink="organizations" matTooltip="Configuración" matTooltipPosition="right">
          <mat-icon>build</mat-icon>
        </button>
      </div>
    </div>

</nav>
