mat-sidenav-content {
  min-height: 100vh;
}

button {
  outline: none;
}

.sidenav-container {
  min-height: 100%;
}

.mini-brand {
  font-size: 0.8em;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.user-name {
  font-size: 0.7em;
}

.user-icon {
  position: relative;
  bottom: 1px;
}

.color-menu {
  width: 300px;
}

/* COLORS */
.default {
  width: 100%;
  height: 100%;
  color: #01579b;
}

.purple {
  width: 100%;
  height: 100%;
  color: #7b1fa2;
}

.green {
  width: 100%;
  height: 100%;
  color: #388e3c;
}

.orange {
  width: 100%;
  height: 100%;
  color: #e65100;
}

.red {
  width: 100%;
  height: 100%;
  color: #d50000;
}

.dark-pink {
  width: 100%;
  height: 100%;
  color: #f50057;
}

.color-icon {
  font-size: 3em;
  position: relative;
  bottom: 10px;
  right: 5px;
}
