<div *ngIf="theme$ | async as theme" [ngClass]="theme">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="d-flex justify-content-center">
        <span class="mini-brand">Follower</span>
      </mat-toolbar>
      <mat-nav-list>
        <div mat-list-item class="d-flex justify-content-center mt-3">
          <button class="sidenav-button" mat-icon-button color="basic" routerLink="organizations" matTooltip="Dashboard"
            matTooltipPosition="right">
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>

        <div mat-list-item class="d-flex justify-content-center mt-3 mb-4">
          <button class="sidenav-button" mat-icon-button color="basic" matTooltip="Tema" matTooltipPosition="right"
            [matMenuTriggerFor]="colorMenu">
            <mat-icon>palette</mat-icon>
          </button>
          <mat-menu class="color-menu" #colorMenu="matMenu">
            <mat-grid-list cols="2" rowHeight="1:1">
              <mat-grid-tile>
                <button class="sidenav-button" class="purple d-flex" mat-button (click)="changeTheme('purple')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="orange d-flex" mat-button (click)="changeTheme('orange')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="green d-flex" mat-button (click)="changeTheme('green')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="red d-flex" mat-button (click)="changeTheme('red')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="dark-pink d-flex" mat-button (click)="changeTheme('dark-pink')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button class="default d-flex" mat-button (click)="changeTheme('default')">
                  <mat-icon class="color-icon">brightness_1</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-menu>
        </div>

        <mat-divider></mat-divider>
        <div mat-list-item class="d-flex justify-content-center mt-3">
          <button class="sidenav-button" mat-icon-button color="basic" matTooltip="Cerrar sesión" (click)=logout()>
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent" class="mat-toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span [ngClass]="{hidden: !(isHandset$ | async) !== false}">Follower</span>
        <span class="spacer"></span>
        <div mat-list-item class="d-flex justify-content-center mr-2">
          <button mat-icon-button color="basic" routerLink="organizations" matTooltip="Notificaciones"
            matTooltipPosition="below">
            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
          </button>
        </div>
        <div mat-list-item class="d-flex justify-content-center mr-3">
          <button mat-icon-button color="basic" matTooltip="Ayuda"
            matTooltipPosition="below">
            <mat-icon>help_outline</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->
      <ng-content></ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>