    <mat-card class="background-content-card">
      <mat-card-header class="d-flex justify-content-between">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>
          <span class="area-title">{{member.user.name}} {{member.user.last_name}}</span>
        </mat-card-title>
        <div class="d-flex justify-content-end" *ngIf="organization.created_by._id === user._id">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngIf="!organization.deleted_at">
              <ng-container *ngIf="!member.deleted_at">
                <button mat-menu-item (click)="selectMember(member)">
                  <mat-icon>arrow_forward</mat-icon>
                  <span>Ingresar al perfil</span>
                </button>
                <button *ngIf="!member.deleted_at" mat-menu-item (click)="deleteMember(member)">
                  <mat-icon>delete</mat-icon>
                  <span>Dar de baja</span>
                </button>
              </ng-container>
            </ng-container>

            <ng-container>
              <button mat-menu-item *ngIf="organization.deleted_at || member.deleted_at" (click)="selectArea(area)">
                <mat-icon>arrow_forward</mat-icon>
                <span>Ingresar al área</span>
              </button>
              <button *ngIf="member.deleted_at" mat-menu-item (click)="activateMember(member)">
                <mat-icon>history</mat-icon>
                <span>Restaurar</span>
              </button>
            </ng-container>
          </mat-menu>
        </div>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-divider></mat-divider>

      <mat-card-content class="mt-2">
          <mat-icon class="icon">bookmarks
          </mat-icon>
          Áreas /
          <span>
            {{member.areas.length}}
          </span>
        </mat-card-content>
      <mat-card-content class="mt-2">
        <mat-icon class="icon">watch_later</mat-icon>
        Creado el /
        <span class="success">
          {{member.created_at | date:'dd-MM-yyyy'}}
        </span>
      </mat-card-content>
      <mat-card-content class="mt-2" *ngIf="member.deleted_at">
        <mat-icon class="icon">delete</mat-icon> Dada de baja el /
        <span class="danger">
          {{member.deleted_at | date:'dd-MM-yyyy'}}
        </span>
      </mat-card-content>

    </mat-card>
