<div class="contenedor">
  <!-- Header section -->
  <div class="header-section">
    <!-- Header section title -->
    <div class="header-section-title">
      <img mat-card-avatar class="header-section-image" [src]="member.user.img | image" alt="">
      <h6 class="header-section-title-title">
        <span [ngClass]="{'deleted': member.deleted_at}">
          {{member.user.name | titlecase}} {{member.user.last_name | titlecase}}
        </span>
      </h6>
      <span class="header-section-title-subtitle">
        Creado {{member.created_at | time}}
      </span>
    </div>
    <!-- header section title end -->
    <!-- header section buttons -->
    <div class="header-section-buttons">
      <button class="button" mat-icon-button (click)="selectMember(member)">
        <mat-icon matTooltip="Ver perfil" matTooltipPosition="above" class="button-icon">meeting_room
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="!member.deleted_at" (click)="inactiveMember(member)">
        <mat-icon matTooltip="Desactivar" matTooltipPosition="above" class="button-toggle success">toggle_on
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="member.deleted_at" (click)="activateMember(member)">
        <mat-icon matTooltip="Activar" matTooltipPosition="above" class="button-toggle danger">toggle_off
        </mat-icon>
      </button>
    </div>
    <!-- header section buttons end -->
  </div>
  <!-- Header section end -->
</div>