button{
  outline: none;
}

.area-title{
  position: relative;
  top:5px;
  font-size: .9em;
}

.icon-subtitle{
  font-size: 1.6em;
  position: relative;
  top: 6px;
}

.icon{
  position: relative;
  top: 4px;
  font-size: 1.4em;
}

.background-content-card-active{
  background-color: rgba(220, 220, 220, .2);
}

.background-content-card-inactive{
  background-color: rgba(160, 160, 160, .2);
}