<div class="col-md-12">
  <h5 *ngIf="!data.area">
    Nuevo miembro
  </h5>
  <h5 *ngIf="data.area">
    Agregar miembro al área
  </h5>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="mt-3">
  <form [formGroup]="form" (ngSubmit)="createMember()">
    <div class="col-md-12 d-flex justify-content-end">
      <mat-form-field appearance="outline">
        <mat-label>Email del usuario</mat-label>
        <input matInput placeholder="Email del usuario" aria-label="Buscar Usuario" [matAutocomplete]="auto"
          formControlName="email" (keyup)="searchUsers()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of users$ | async" [value]="user.email">
            <img class="mr-3" mat-card-avatar [src]="user.img | image" alt="">
            <span>{{user.name | titlecase}} {{user.last_name | titlecase}}</span> |
            <small>{{user.email | lowercase }}</small>
          </mat-option>
          <mat-option *ngFor="let member of members$ | async" [value]="member.user.email">
            <img class="mr-3" mat-card-avatar [src]="member.user.img | image" alt="">
            <span>{{member.user.name | titlecase}} {{member.user.last_name | titlecase}}</span> |
            <small>{{member.user.email | lowercase }}</small>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls['email'].errors?.avaible && data.area">
          Ya <strong>existe</strong> este miembro en el área.<strong>
            Por favor elije otro.</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.avaible && !data.area">
          Ya <strong>existe</strong> este miembro en la organización.<strong>
            Por favor elije otro.</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.required">
          <strong>No olvides</strong> escribir arriba el email del usuario que deseas buscar.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12 d-flex justify-content-end mt-4">
      <button type="submit" mat-flat-button color="warn" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        <span> Guardar</span>
      </button>
    </div>
  </form>
</div>