
button {
  outline: none;
}

mat-card-title{
  position: relative;
  bottom: 5px;
}

.button {
  position: relative;
  bottom: 7px;
}

.icon {
  position: relative;
  top: 4px;
}

.icon-content {
  position: relative;
  top: 5px;
  font-size: 1.3em;
}

.icon-content-in {
  position: relative;
  top: 4px;
  font-size: 1em;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .content {
  margin-bottom: 10px;
} */

.organization-card-info {
  font-size: 1.1em;
  margin-right: 20px;
}

.background-content-card{
  background-color: rgba(220, 220, 220, .2);
}

@media(max-width: 990px){
  h5 {
    width: 200px;
  }
}


