
button {
  outline: none;
}

mat-card-title{
  position: relative;
  bottom: 5px;
  right: 15px;
}

.button {
  position: relative;
  bottom: 7px;
}

.icon {
  position: relative;
  top: 6px;
}

.icon-content-in {
  position: relative;
  top: 4px;
  font-size: 1em;
}

.title {
  position: relative;
  bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .organization-card-info {
  font-size: 1.1em;
  margin-right: 20px;
  position: relative;
  top: 7px;
} */

.background-content-card-active{
  background-color: rgba(220, 220, 220, .2);
}

.background-content-card-inactive {
  background-color: rgba(160, 160, 160, 0.2);
  opacity: .5;
}

.background-content-expansion-active {
  background-color: rgba(230, 230, 230, 0.3);
  padding-top: 30px !important;
  padding-bottom: 17px !important;
}

.line-through{
  text-decoration: line-through;
}

@media(max-width: 990px){
  h5 {
    width: 200px;
  }
}


