<ng-container *ngIf="animation$ | async as animation">
  <div class="contenedor">
    <!-- Header section -->
    <div class="header-section">
      <!-- Header section title -->
      <div class="header-section-title">
        <h6 class="header-section-title-title">
          <span *ngIf="organization.created_by._id === user._id">
            <mat-icon class="icon-header warning">star</mat-icon>
          </span>
          <span *ngIf="organization.created_by._id !== user._id">
            <mat-icon class="icon-header primary">account_circle</mat-icon>
          </span>
          <span [ngClass]="{'deleted': organization.deleted_at}" [matTooltip]="organization.name"
            matTooltipPosition="right">
            {{organization.name | titlecase}}
          </span>
        </h6>
        <span class="header-section-title-subtitle">
          Creada {{organization.created_at | time}}
        </span>
      </div>
      <!-- header section title end -->
      <!-- header section buttons -->
      <div class="header-section-buttons">
        <button class="button" mat-icon-button matTooltip="Ingresar a la organización" matTooltipPosition="above"
          (click)="selectOrganization(organization)">
          <mat-icon class="button-icon">arrow_forward</mat-icon>
        </button>

        <button class="button" mat-icon-button *ngIf="!organization.deleted_at"
          (click)="deleteOrganization(organization)">
          <mat-icon class="button-icon">delete</mat-icon>
        </button>

        <button class="button" mat-icon-button *ngIf="organization.deleted_at"
          (click)="reactivateOrganization(organization)">
          <mat-icon class="button-icon">history</mat-icon>
        </button>
      </div>
      <!-- header section buttons end -->
    </div>
    <!-- Header section end -->
  </div>
</ng-container>