<span class="text-muted fadeIn slower mt-4" *ngIf="!members.length">La organización aún no posee miembros</span>
<!-- <mat-accordion> -->
<div class="row mt-3 animated" *ngFor="let member of members | memberPaginator:since:until" [ngClass]="animation[0]">
  <div class="col-md-12">
    <app-member-list-card [organization]="organization" [member]="member" [user]="user"></app-member-list-card>
  </div>
  <div class="col-md-12 mb-1">
    <mat-divider></mat-divider>
  </div>
</div>
<!-- </mat-accordion> -->
<mat-paginator [length]="members.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="changePage($event)">
</mat-paginator>