<ng-container *ngIf="members$ | async as members">
    <ng-container *ngIf="organization.created_by._id === user._id">
      <span class="text-muted fadeIn slower mt-4" *ngIf="!members.length">La organización aún no posee miembros</span>
      <app-loading class="fadeIn slower" *ngIf="loading$ | async"></app-loading>
      <ng-container *ngIf="animation$ | async as animation">
        <div class="row mt-4" *ngFor="let member of members">
          <div class="col-md-12">
            <app-member-list-card [organization]="organization" [member]="member"></app-member-list-card>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  