<div class="contenedor">
  <div class="title">
    <span *ngIf="!data.organization">
      Nueva Organización
    </span>
    <span *ngIf="data.organization">
      Editar la Organización
    </span>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <div mat-dialog-content class="mat-content">
    <form [formGroup]="form" class="form" (ngSubmit)="createOrUpdateOrganization()">
      <div class="input">
        <mat-form-field>
          <mat-label>Nombre de la organización</mat-label>
          <input matInput type="text" placeholder="Nombre de la organización" formControlName="name" name="name"
            autocomplete="off">
          <mat-error *ngIf="form.controls['name'].errors?.avaible">
            Ya eres <strong>propietario</strong> o <strong>perteneces</strong> a una organización con este
            nombre.<strong>
              Por favor elije otro.</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['name'].errors?.required">
            <strong>No olvides</strong> escribir arriba un nombre para tu organización.
          </mat-error>
        </mat-form-field>
      </div>

      <div Class="button">
        <button type="submit" mat-flat-button color="warn" [disabled]="form.invalid">
          <span> Guardar</span>
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>