<div class="contenedor">
  <div class="animated" *ngIf="!tickets.length">
    <span class="empty-message">No se encontraron tickets que puedan interesarte, prueba con generar uno y dale
      seguimiento!</span>
  </div>

  <ng-container *ngIf="tickets.length">
    <div class="list-card" *ngFor="let ticket of tickets | ticketPaginator:since:until">
      <div class="list-card-card animated fadeIn">
        <app-ticket-list-card [ticket]="ticket" [user]="user">
        </app-ticket-list-card>
      </div>
      <div class="list-card-divider">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="paginador">
      <mat-paginator [length]="tickets.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </ng-container>
</div>