<ng-container *ngIf="responsibleMembers$ | async as responsibleMembers">
  <td>{{area.name}}</td>
  <td>
    <ng-container *ngIf="responsibleMembers.length">
      <span *ngFor="let responsibleMember of responsibleMembers">
        {{responsibleMember.user.name}} {{responsibleMember.user.last_name}}
      </span>
    </ng-container>
    <ng-container *ngIf="!responsibleMembers.length">
      <span>
        (sin asignar)
      </span>
    </ng-container>
  </td>
  <td>{{areaMembers}}</td>
  <td class="text-success">{{area.created_at | date:'dd-MM-yyyy'}}</td>
  <td class="text-danger">{{area.deleted_at | date:'dd-MM-yyyy'}}</td>
  <ng-container *ngIf="organization$ | async as organization">
    <td class="d-flex justify-content-end align-items-center">
      <ng-container *ngIf="organization.created_by._id === user._id && !organization.deleted_at">
        <button *ngIf="!area.deleted_at" class="btn-trash" (click)="deleteArea(area)"> <i class="fa fa-trash-o"
            aria-hidden="true"></i>
        </button>
        <button *ngIf="!area.deleted_at" class="btn-edit" (click)="updateArea(area)"> <i class="fa fa-pencil-square-o"
            aria-hidden="true"></i>
        </button>
        <button *ngIf="area.deleted_at" class="btn-reactive" (click)="activateArea(area)"> <i class="fa fa-history"
            aria-hidden="true"></i>
        </button>
        <button class="btn-in" (click)="selectArea(area)"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </ng-container>
      <ng-container *ngFor="let responsibleMember of responsibleMembers">
        <button class="btn-in" (click)="selectArea(area)"
          *ngIf="responsibleMember.user._id === user._id && organization.created_by._id !== user._id && !organization.deleted_at">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </ng-container>
    </td>
  </ng-container>
</ng-container>
