button {
  outline: none;
}

/* CSS GRID */
.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organizations-section"
    "tickets-section";
  grid-gap: 15px;
  margin-top: 35px;
}

/* tickets-section */
.contenedor .tickets-section {
  grid-area: tickets-section;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "tickets-section-search"
    "tickets-section-header"
    "tickets-section-loader"
    "tickets-section-tickets";
  grid-gap: 10px;
}

.tickets-section .tickets-section-header {
  grid-area: tickets-section-header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px;
}

.tickets-section-header .tickets-section-header-button {
  text-align: end;
}

.tickets-section .tickets-section-loader {
  grid-area: tickets-section-loader;
}

.tickets-section .tickets-section-tickets {
  grid-area: tickets-section-tickets;
}

.tickets-section .tickets-section-search {
  grid-area: tickets-section-search;
  display: flex;
  justify-content: flex-end;
}

.tickets-section-search .form,
mat-form-field {
  width: 100%;
  min-width: 250px;
  font-size: 0.9em;
  opacity: 0.8;
  justify-content: end;
}

.tickets-section-search .form {
  width: 60%;
  max-width: 300px;
}

.contenedor .organizations-section {
  grid-area: organizations-section;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organizations-section-search"
    "organizations-section-header"
    "organizations-section-loader"
    "organizations-section-organizations";
  grid-gap: 10px;
}

.organizations-section .organizations-section-search {
  grid-area: organizations-section-search;
  display: flex;
  justify-content: flex-end;
}

.organizations-section-search .form,
mat-form-field {
  width: 100%;
  min-width: 250px;
  font-size: 0.9em;
  opacity: 0.8;
  justify-content: end;
}

.organizations-section-search .form {
  width: 60%;
  max-width: 300px;
}

.organizations-section .organizations-section-header {
  grid-area: organizations-section-header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px;
}

.organizations-section-header .organizations-section-header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.organizations-section-header .organizations-section-header-button {
  text-align: end;
}

.tickets-section-header .tickets-section-header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.organizations-section .organizations-section-loader {
  grid-area: organizations-section-loader;
}

.organizations-section .organizations-section-organizations {
  grid-area: organizations-section-organizations;
}

/* CSS GRID END */

.header-title {
  font-size: 1em;
  position: relative;
  top: 2px;
  opacity: 0.5;
  font-weight: 600;
}

.button-span {
  font-size: 0.9em;
}
