<div class="contenedor animated fadeIn">
  <!-- User Section -->
  <!-- <div class="user-section">
      <app-user-profile></app-user-profile>
    </div> -->
  <!-- User Section end -->
  <!-- Organization section -->
  <div class="organizations-section background-section">
    <!-- Organizations section search -->
    <div class="organizations-section-search">
      <form class="form">
        <mat-form-field class="example-full-width">
          <mat-label>Buscar organización</mat-label>
          <input matInput type="text" name="searchOrganization" [(ngModel)]="searchOrganization" autocomplete="off">
        </mat-form-field>
      </form>
    </div>
    <!-- Organizations section search end -->
    <!-- Organization section header -->
    <div class="organizations-section-header">
      <div class="organizations-section-header-title">
        <h4 class="header-title">Mis organizaciones</h4>
      </div>
      <div class="organizations-section-header-button">
        <button [disabled]="organizationLoading$ | async" mat-button color="warn" (click)="createOrganization()">
          <span class="button-span">Nueva Organización</span>
        </button>
      </div>
    </div>
    <!-- Organization section header end -->
    <!-- Organization section loader -->
    <div class="organizations-section-loader">
      <mat-progress-bar *ngIf="organizationsLoading$ | async" mode="indeterminate">
      </mat-progress-bar>
    </div>
    <!-- Organization section loader end -->
    <!-- <ng-container *ngIf="organizationsLoaded$ | async"> -->
    <ng-container *ngIf="organizations$ | async as organizations ">
      <!-- Organization section organizations -->
      <div class="organizations-section-organizations">
        <app-organization-list [organizations]="organizations | searchOrganization: searchOrganization" [user]="user">
        </app-organization-list>
      </div>
      <!-- Organization section organizations -->
    </ng-container>
    <!-- </ng-container> -->
  </div>
  <!-- Organization section end -->
  <!-- Tickets Section -->
  <div class="tickets-section background-section">
    <!-- Ticket section Ticket search -->
    <div class="tickets-section-search">
      <form class="form">
        <mat-form-field class="example-full-width">
          <mat-label>Buscar ticket</mat-label>
          <input matInput type="text" name="searchTicket" [(ngModel)]="searchTicket" autocomplete="off">
        </mat-form-field>
      </form>
    </div>
    <!-- Ticket section Ticket search end -->
    <!-- Ticket Section Header -->
    <div class="tickets-section-header">
      <div class="tickets-section-header-title">
        <h4 class="header-title">Mis tickets
        </h4>
      </div>
      <div class="tickets-section-header-button">
        <button class="header-button" mat-button color="warn" (click)="createTicket()">
          <span class="button-span">Generar ticket</span>
        </button>
      </div>
    </div>
    <!-- Ticket Section Header end-->
    <!-- Ticket Section loader -->
    <div class="tickets-section-loader">
      <mat-progress-bar *ngIf="ticketsLoading$ | async" mode="indeterminate">
      </mat-progress-bar>
    </div>
    <!-- Ticket Section loader end -->
    <ng-container *ngIf="tickets$ | async as tickets">
      <!-- Ticket section Ticket List -->
      <div class="tickets-section-tickets">
        <app-ticket-list [tickets]="tickets | searchTicket: searchTicket" [user]="user">
        </app-ticket-list>
      </div>
      <!-- Ticket section Ticket List end -->
    </ng-container>
  </div>
  <!-- Tickets Section end -->
</div>