<ng-container *ngIf="organization$ | async as organization">
  <!-- <div class="card bg-light m-3 animated" *ngIf="animation$ | async as animation" [ngClass]="animation[0]">
    <div class="card-header d-flex justify-content-center">
      <h4 class="text-muted">
        {{organization.name}}
      </h4>
    </div>
    <div class="card-body">
      <button class="btn-back" (click)="backToLastPage()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Ir a mis
        organizaciones
      </button>
      <div class="card-subtitle mt-3">
        <i class="fa fa-info-circle mr-1" aria-hidden="true"></i>
        Información de la Organización
      </div>
      <hr>






      <div >

        <hr>
       
      </div>
      <div class="animated delay-500ms" [ngClass]="animation[0]">
        <app-organization-user-areas-list [organization]="organization" [user]="user">
        </app-organization-user-areas-list>
      </div>
      <div class="animated delay-700ms" [ngClass]="animation[0]">
        <app-organization-areas-list [organization]="organization" [user]="user"></app-organization-areas-list>
      </div>
    </div>
  </div> -->
  <div class="row">

    <div class="col-md-12 animated fadeIn mb-4" *ngIf="animation$ | async as animation" [ngClass]="animation[0]">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div class="d-flex justify-content-center">
              <h4>
                {{organization.name}}
              </h4>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <button mat-icon-button color="accent" (click)="backToLastPage()">
            <mat-icon>arrow_back</mat-icon>
            Ir a mis organizaciones
          </button>
        </mat-card-content>

        <mat-card-subtitle class="mt-5">
          <mat-icon class="icon-subtitle">info</mat-icon>
          <span class="subtitle">
            Información de la Organización
          </span>
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content class="mt-4">
          <mat-icon class="icon">how_to_reg</mat-icon>
          Creada por / {{organization.created_by.name}} {{organization.created_by.last_name}}
        </mat-card-content>

        <mat-card-content>
          <mat-icon class="icon">watch_later</mat-icon>
          Creada el /
          <span class="text-exito">
            {{organization.created_at | date:'dd-MM-yyyy'}}
          </span>
        </mat-card-content>

        <mat-card-content *ngIf="organization.deleted_at">
          <mat-icon class="icon">delete</mat-icon>
          Dada de baja el /
          <span class="text-peligro">
            {{organization.deleted_at | date:'dd-MM-yyyy'}}
          </span>
        </mat-card-content>

        <mat-card-content>
          <mat-icon class="icon">favorite</mat-icon>
          Relación /
          <span *ngIf="organization.created_by._id === user._id" class="text-warning mr-2">
            <mat-icon class="icon" color="warn">stars</mat-icon>
            Propietario
          </span>
          <span *ngIf="organization.created_by._id !== user._id" class="text-info" title="Miembro">
            <mat-icon class="icon" color="primary">account_circle</mat-icon>
            Miembro
          </span>
        </mat-card-content>

        <mat-card-subtitle class="mt-5">
          <mat-icon class="icon-subtitle">chat</mat-icon>
          <span class="subtitle">
            Mis Tickets
          </span>
          <button mat-mini-fab color="primary" *ngIf="!organization.deleted_at" (click)="newTicket()" class="ml-3">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content class="animated delay-300ms mt-4" [ngClass]="animation[0]">
          <span class="text-muted">No tiene tickets cargados</span>
        </mat-card-content>


        <mat-card-subtitle class="mt-5">
          <mat-icon class="icon-subtitle">contacts</mat-icon>
          <span class="subtitle">
            Mis Áreas
          </span>
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content class="animated delay-300ms" [ngClass]="animation[0]">
          <app-organization-user-areas-list [organization]="organization" [user]="user">
          </app-organization-user-areas-list>
        </mat-card-content>

        <mat-card-subtitle class="mt-5">
          <mat-icon class="icon-subtitle">bookmarks</mat-icon>
          <span class="subtitle">
            Áreas de la Organización
          </span>
          <button mat-mini-fab color="primary" *ngIf="!organization.deleted_at" (click)="addArea()" class="ml-3">
              <mat-icon>add</mat-icon>
            </button>
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content class="animated delay-300ms" [ngClass]="animation[0]">
            <app-organization-areas-list [organization]="organization" [user]="user"></app-organization-areas-list>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

</ng-container>






<!-- BOTONES
<div class="d-flex justify-content-end">
  
</div> -->
