.icon-tab{
  position: relative;
  top: 11px;
  right: 3px;
}

button{
  outline: none;
}

.icon-edit {
  position: relative;
  bottom: 2px;
  left: 1px;
  font-size: 1.4em;
}

.button-edit{
  position: relative;
  bottom: 6px;
}

.span-icon-text{
  position: relative;
  right: 10px;
}

