<!-- <mat-progress-bar mode="query"></mat-progress-bar> -->

<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <mat-spinner class="mt-5" diameter="50" *ngIf="organizationLoading$ | async as organizationLoading"></mat-spinner>
  </div>
</div>

<ng-container *ngIf="organization$ | async as organization">
  <div class="row">
    <div class="col-md-12">
      <button mat-button color="warn" (click)="backToLastPage()">
        <mat-icon>arrow_back</mat-icon>
        Ir al dashboard
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 animated fadeIn" *ngIf="animation$ | async as animation" [ngClass]="animation[0]">
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>
            <div class="d-flex justify-content-center">
              <h4>
                {{organization.name}}
              </h4>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div class="container">
          <mat-card-content class="organization-card-info mt-3">
            <mat-icon class="icon">how_to_reg</mat-icon>
            Creada por /
            <span>
              {{organization.created_by.name | titlecase}} {{organization.created_by.last_name | titlecase}}
            </span>
          </mat-card-content>

          <mat-card-content class="organization-card-info">
            <mat-icon class="icon">watch_later</mat-icon>
            Creada el /
            <span class="success">
              {{organization.created_at | date:'dd-MM-yyyy'}}
            </span>
          </mat-card-content>

          <mat-card-content class="organization-card-info" *ngIf="organization.deleted_at">
            <mat-icon class="icon">delete</mat-icon>
            Dada de baja el /
            <span class="danger">
              {{organization.deleted_at | date:'dd-MM-yyyy'}}
            </span>
          </mat-card-content>

          <mat-card-content class="organization-card-info">
            <mat-icon class="icon">favorite</mat-icon>
            Relación /
            <span *ngIf="organization.created_by._id === user._id" class="warning">
              <mat-icon class="icon warning">star</mat-icon>
              <span>
                Propietario
              </span>
            </span>
            <span *ngIf="organization.created_by._id !== user._id" class="primary" title="Miembro">
              <mat-icon class="icon primary">account_circle</mat-icon>
              <span>
                Miembro
              </span>
            </span>
          </mat-card-content>
        </div>
      </mat-card>

      <div class="row mt-5">
        <div class="col-md-12">
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Mis Áreas">
              <ng-template mat-tab-label>
                <mat-icon class="icon mr-2">bookmark</mat-icon>
                Mis Áreas
              </ng-template>
              <mat-divider></mat-divider>

              <div class="row" *ngIf="memberAreasLoading">
                <div class="col-md-12 d-flex justify-content-center">
                  <mat-spinner diameter="30" class="mt-4"></mat-spinner>
                </div>
              </div>

              <div class="container" *ngIf="!memberAreasLoading">
                <div class="row d-flex align-items-center" *ngIf="memberAreas$ | async as memberAreas">
                  <div class="col-md-12">
                    <div class="animated delay-500ms mt-4" [ngClass]="animation[0]">
                      <app-areas-list [organization]="organization" [areas]="memberAreas" [user]="user"
                        [animation]="animation">
                      </app-areas-list>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab *ngIf="user._id === organization.created_by._id">
              <ng-template mat-tab-label>
                <mat-icon class="icon mr-2">bookmarks</mat-icon>
                Áreas de la organización
              </ng-template>

              <div class="row" *ngIf="areasLoading$ | async">
                <div class="col-md-12 d-flex justify-content-center">
                  <mat-spinner diameter="30" class="mt-4"></mat-spinner>
                </div>
              </div>

              <div class="container" *ngIf="areasLoaded$ | async">
                <div class="row d-flex align-items-center justify-content-between" *ngIf="areas$ | async as areas">
                  <div class="col d-flex justify-content-start animated delay-500ms" [ngClass]="animation[0]">
                    <button mat-flat-button color="warn" *ngIf="!organization.deleted_at" (click)="createArea()"
                      matTooltip="Agregar área" matTooltipPosition="right" class="m-3">
                      <span>
                        Agregar área
                      </span>
                    </button>
                  </div>
                  <div class="col d-flex justify-content-end animated delay-500ms m-3" [ngClass]="animation[0]">
                    <app-filter [originalArray]="areas" (transformArray)="filterAreas = $event"></app-filter>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="animated delay-500ms mt-4" [ngClass]="animation[0]">
                  <app-areas-list [organization]="organization" [areas]="filterAreas" [user]="user"
                    [animation]="animation">
                  </app-areas-list>
                </div>
              </div>

            </mat-tab>
            <mat-tab *ngIf="user._id === organization.created_by._id" label="Miembros de la organización">
              <ng-template mat-tab-label>
                <mat-icon class="icon mr-2">supervised_user_circle</mat-icon>
                Miembros de la organización
              </ng-template>

              <div class="row" *ngIf="membersLoading$ | async">
                <div class="col-md-12 d-flex justify-content-center">
                  <mat-spinner diameter="30" class="mt-4"></mat-spinner>
                </div>
              </div>

              <div class="container" *ngIf="membersLoaded$ | async">
                <div class="row d-flex align-items-center justify-content-between" *ngIf="members$ | async as members">
                  <div class="col d-flex justify-content-start animated delay-500ms" [ngClass]="animation[0]"
                    *ngIf="!organization.deleted_at">
                    <button mat-flat-button color="warn" (click)="createMember()" matTooltip="Agregar miembro"
                      matTooltipPosition="right" class="m-3">
                      <span>Agregar miembro</span>
                    </button>
                  </div>

                  <div class="col d-flex justify-content-end animated delay-500ms m-3" [ngClass]="animation[0]">
                    <app-filter [originalArray]="members" (transformArray)="filterMembers = $event"></app-filter>
                  </div>
                </div>

                <mat-divider></mat-divider>

                <div class="animated delay-500ms mt-4" [ngClass]="animation[0]">
                  <app-member-list [organization]="organization" [members]="filterMembers" [user]="user"
                    [animation]="animation"></app-member-list>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</ng-container>