button {
  outline: none;
}
/* CSS GRID */

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "organization-loader"
    "organization-button-back"
    "organization-profile"
    "organization-content";
  gap: 15px;
}

.contenedor .organization-content {
  grid-area: organization-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-areas: "organization-children-members organization-children-areas";
  gap: 15px;
}

.organization-content .organization-children-members {
  grid-area: organization-children-members;
}

.organization-content .organization-children-areas {
  grid-area: organization-children-areas;
}

.contenedor .organization-loader {
  grid-area: organization-loader;
  margin-top: 15px;
}

.contenedor .organization-button-back {
  grid-area: organization-button-back;
}

.contenedor .organization-profile {
  grid-area: organization-profile;
  display: grid;
  grid-template-columns: 1fr;
}

.organization-profile .organization-profile-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 25px;
  grid-template-areas:
    "organization-profile-header-title organization-profile-header-button"
    "organization-profile-header-subtitle organization-profile-header-button"
    "organization-profile-header-message organization-profile-header-button";
  gap: 2px;
}

.organization-profile-header .organization-profile-header-title {
  grid-area: organization-profile-header-title;
}

.organization-profile-header .organization-profile-header-title span {
  font-weight: bolder;
  font-size: 1.3em;
  opacity: 0.7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.organization-profile-header .organization-profile-header-subtitle {
  grid-area: organization-profile-header-subtitle;
  opacity: 0.5;
  font-size: 0.7em;
}

.organization-profile-header .organization-profile-header-message {
  grid-area: organization-profile-header-message;
  color: rgb(210, 0, 0);
  font-size: 0.7em;
}

.organization-profile-header .organization-profile-header-button {
  grid-area: organization-profile-header-button;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 10px;
  left: 10px;
}

@media (max-width: 767px) {
  .organization-profile-header .organization-profile-header-title span {
    max-width: 230px;
  }
}
