.icon-tab {
	position: relative;
	top: 11px;
	right: 3px;
}

.tab-title {
	position: relative;
	top: 21px;
	font-size: 1.1em;
	opacity: .5;
}

.tab-title-2 {
	position: relative;
	top: 0px;
	font-size: 1.1em;
	opacity: .5;
}

.tab-button-span {
	font-size: .9em;
}

button {
	outline: none;
}

.organization-name {
	position: relative;
	top: 6px;
	font-size: 1em;
}

.icon-edit {
	position: relative;
	top: 0px;
	left: 1px;
	font-size: 1.2em;
}

.button-edit {
	position: relative;
	bottom: 2px;
}

.span-icon-text {
	position: relative;
	right: 10px;
}
