<div class="contenedor">
  <div class="organization-loader">
    <mat-progress-bar *ngIf="organizationLoading$ | async as organizationLoading" mode="indeterminate">
    </mat-progress-bar>
  </div>

  <div class="organization-button-back">
    <button mat-button color="warn" (click)="backToLastPage()">
      <mat-icon>arrow_back</mat-icon>
      Ir al inicio
    </button>
  </div>

  <ng-container *ngIf="organization$ | async as organization">

    <div class="organization-profile background-section animated fadeIn">
      <div class="organization-profile-header">
        <div class="organization-profile-header-title">
          <span>
            {{organization.name | titlecase}}
          </span>
        </div>
        <div class="organization-profile-header-subtitle">
          <span>Creada {{organization.created_at | time}}</span>
        </div>
        <div class="organization-profile-header-button">
          <button [matMenuTriggerFor]="menu" mat-icon-button *ngIf="!organization.deleted_at">
            <mat-icon matTooltip="Opciones" matTooltipPosition="above">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateOrganization(organization)">Editar nombre</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="organization-content animated fadeIn">
      <div class="organization-children-members background-section">
        <app-member-list [organization]="organization"></app-member-list>
      </div>

      <div class="organization-children-areas background-section animated fadeIn">
        <app-areas-list [organization]="organization"></app-areas-list>
      </div>
    </div>
  </ng-container>
</div>