<div class="contenedor animated fadeIn">
  <!-- Header section -->
  <div class="header-section">
    <!-- Header section title -->
    <div class="header-section-title">
      <span>
        <mat-icon class="icon-header warning">bookmark</mat-icon>
      </span>
      <span class="header-section-title-title" [ngClass]="{'deleted': area.deleted_at}" [matTooltip]="area.name"
        matTooltipPosition="right">
        {{area.name | titlecase}}
      </span>
      <span class="header-section-title-subtitle" *ngIf="area.responsible">
        Responsable / {{area.responsible.user.name | titlecase}} {{area.responsible.user.last_name | titlecase}}
      </span>
      <span class="header-section-title-subtitle" *ngIf="!area.responsible">
        Responsable / Sin responsable
      </span>
    </div>
    <!-- header section title end -->
    <!-- header section buttons -->
    <div class="header-section-buttons">
      <button class="button" mat-icon-button (click)="selectArea(area)">
        <mat-icon matTooltip="Ingresar al área" matTooltipPosition="above" class="button-icon">meeting_room
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="areaLoading$ | async">
        <mat-spinner class="button-spinner" diameter="15"></mat-spinner>
      </button>

      <button class="button" mat-icon-button *ngIf="!area.deleted_at && !(areaLoading$ | async)"
        (click)="desactivateArea(area)">
        <mat-icon matTooltip="Desactivar" matTooltipPosition="above" class="button-toggle success">toggle_on
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="area.deleted_at && !(areaLoading$ | async)"
        (click)="activateArea(area)">
        <mat-icon matTooltip="Activar" matTooltipPosition="above" class="button-toggle danger">toggle_off
        </mat-icon>
      </button>
    </div>
    <!-- header section buttons end -->
  </div>
  <!-- Header section end -->
</div>