<div class="contenedor">
  <div class="header">
    <span class="icon">
      <mat-icon>notifications</mat-icon>
      <span>
        Nueva notificación
      </span>
    </span>
    <div class="user">
      <span class="user-name">
        {{data.notification.updated_by.name | titlecase}}
        {{data.notification.updated_by.last_name | titlecase}}
      </span>
      <span>
        realizó cambios en el {{data.notification.objectType}} "{{data.notification.object.subject}}"
      </span>
    </div>
  </div>
</div>