.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 15px;
}

.contenedor .header {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 15px;
}

.header .user {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: flex-start;
  font-size: 0.8em;
  gap: 5px;
}

.user-header {
  position: relative;
  left: 6px;
}

.user-header .user-name {
  color: #ffa000;
}

.user .message {
  line-height: 20px;
  font-size: 0.9em;
}

.header .icon {
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .icon > mat-icon {
  font-size: 1em;
}
.header .icon > span {
  font-size: 0.9em;
}

.background-section {
  box-sizing: content-box;
  padding: 3px 7px;
  background-color: rgba(160, 160, 160, 0.1);
  border-radius: 8px;
}
