<div class="contenedor">
  <div class="header">
    <span class="icon">
      <mat-icon>notifications</mat-icon>
      <span>
        Nueva notificación
      </span>
    </span>
    <div class="user">
      <span class="user-header">
        <span class="user-name">
          {{data.notification.created_by.name | titlecase}}
          {{data.notification.created_by.last_name | titlecase}}
        </span>
        realizó modificaciones
      </span>

      <span class="message background-section" *ngFor="let change of data.notification.changes">
        {{change}}
      </span>

    </div>
  </div>
</div>