.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 5px;
}

.contenedor .header {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 15px;
}

.header .message {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: flex-start;
  font-size: 0.8em;
}

.header .icon {
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .icon > mat-icon {
  font-size: 1.3em;
}
.header .icon > span {
  position: relative;
  top: 2px;
  font-size: 0.9em;
}

.success {
  color: green;
}

.danger {
  color: red;
}
