button {
  outline: none;
}
/* CSS GRID */

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "area-loader"
    "area-button-back"
    "area-profile"
    "area-children"
    "line-chart-section";
  gap: 15px;
}

.contenedor .area-loader {
  grid-area: area-loader;
  margin-top: 15px;
}

.contenedor .area-button-back {
  grid-area: area-button-back;
}

.contenedor .area-profile {
  grid-area: area-profile;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "area-profile-header"
    "area-profile-content";
  gap: 15px;
}

.area-profile .area-profile-header {
  grid-area: area-profile-header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px;
  grid-template-areas:
    "area-profile-header-title area-profile-header-button"
    "area-profile-header-subtitle area-profile-header-button"
    "area-profile-header-message area-profile-header-button";
  gap: 2px;
}

.area-profile-header .area-profile-header-title {
  grid-area: area-profile-header-title;
}

.area-profile-header .area-profile-header-title span {
  font-weight: bolder;
  font-size: 1.3em;
  opacity: 0.7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.area-profile-header .area-profile-header-subtitle {
  grid-area: area-profile-header-subtitle;
  opacity: 0.5;
  font-size: 0.7em;
}

.area-profile-header .area-profile-header-message {
  grid-area: area-profile-header-message;
  color: rgb(210, 0, 0);
  font-size: 0.7em;
}

.area-profile-header .area-profile-header-button {
  grid-area: area-profile-header-button;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.area-profile .area-profile-content {
  grid-area: area-profile-content;
}

.contenedor .area-children {
  grid-area: area-children;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.contenedor .chart-section {
  grid: chart-section;
}

@media (max-width: 767px) {
  .area-profile-header .area-profile-header-title span {
    width: 230px;
  }
}
