<ng-container *ngIf="animation$ | async as animation">

  <div class="row" *ngIf="areaLoading$ | async">
    <div class="col-md-12 d-flex justify-content-center">
      <mat-spinner diameter="50" class="mt-5"></mat-spinner>
    </div>
  </div>

  <ng-container *ngIf="areaLoaded$ | async">

    <ng-container *ngIf="area$ | async as area">
      <div class="row">
        <div class="col-md-12">
          <button mat-button color="warn" (click)="backToLastPage()">
            <mat-icon>arrow_back</mat-icon>
            Ir a la organización
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-5">
          <mat-card class="mt-3">
            <mat-card-header>
              <mat-card-title>
                <div class="d-flex justify-content-center">
                  <h6 class="area-name">
                    {{area.name | titlecase}}
                  </h6>
                  <button mat-icon-button color="primary" matTooltip="Editar el nombre del área"
                    matTooltipPosition="right" (click)="updateArea(area)" class="button-edit" *ngIf="!area.deleted_at">
                    <mat-icon class="icon-edit">edit</mat-icon>
                  </button>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>

            <div class="container">
              <mat-card-content class="organization-card-info mt-4">
                <span class="d-flex align-items-center">
                  <mat-icon class="icon">how_to_reg</mat-icon>
                  <span *ngIf="area.responsible">Responsable /
                    {{area.responsible.user.name | titlecase}} {{area.responsible.user.last_name | titlecase}}
                  </span>
                  <span *ngIf="!area.responsible">Responsable / Sin responsable</span>
                </span>


              </mat-card-content>

              <mat-card-content class="organization-card-info">
                <span class="d-flex align-items-center">
                  <mat-icon class="icon">watch_later</mat-icon>
                  <span>Creada
                    <span class="success">
                      {{area.created_at | time}}
                    </span>
                  </span>
                </span>
              </mat-card-content>

              <mat-card-content class="organization-card-info" *ngIf="area.deleted_at">
                <span class="d-flex align-items-center" *ngIf="area.deleted_at">
                  <mat-icon class="icon">delete</mat-icon>
                  <span>
                    Dada de baja
                    <span class="danger">
                      {{area.deleted_at | time}}
                    </span>
                  </span>
                </span>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="row mb-5">

        <div class="col-md-12">
          <div class="row animated d-flex justify-content-between align-items-end mb-3" [ngClass]="animation[0]">

            <div class="col d-flex align-items-center">
              <h4 class="text-muted title">Miembros del área</h4>
            </div>
            <div class="col d-flex justify-content-end" *ngIf="!area.deleted_at">
              <button class="mb-1 add-member-button" mat-button color="warn" (click)="addMember()">
                <span class="button-span">Agregar Miembro</span>
              </button>
            </div>

          </div>
          <mat-divider></mat-divider>

          <div class="row" *ngIf="areaLoading">
            <div class="col-md-12 d-flex justify-content-center">
              <mat-spinner diameter="30" class="mt-4"></mat-spinner>
            </div>
          </div>

          <div class="animated delay-300ms mt-3" [ngClass]="animation[0]">
            <app-member-list [area]="area">
            </app-member-list>
          </div>

        </div>
      </div>

    </ng-container>
  </ng-container>
</ng-container>