<div class="contenedor">

  <div class="area-loader">
    <mat-progress-bar *ngIf="areaLoading$ | async" mode="indeterminate">
    </mat-progress-bar>
  </div>

  <div class="area-button-back">
    <button mat-button color="warn" (click)="backToLastPage()">
      <mat-icon>arrow_back</mat-icon>
      Ir a la organización
    </button>
  </div>

  <ng-container *ngIf="area$ | async as area">
    <div class="area-profile background-section">
      <div class="area-profile-header">
        <div class="area-profile-header-title">
          <span>
            {{area.name | titlecase}}
          </span>
        </div>
        <div class="area-profile-header-subtitle">
          <span *ngIf="area.responsible">Responsable / {{area.responsible.user.name | titlecase}}
            {{area.responsible.user.last_name | titlecase}}</span>
          <span *ngIf="!area.responsible">Responsable / Sin responsable</span>
        </div>
        <div class="area-profile-header-button">
          <button [matMenuTriggerFor]="menu" mat-icon-button *ngIf="!area.deleted_at">
            <mat-icon matTooltip="Opciones" matTooltipPosition="above">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateArea(area)">Editar nombre</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="area-children background-section">
      <div class="area-children-container">
        <app-area-members-list [area]="area" [organization]="area.organization"></app-area-members-list>
      </div>
    </div>
  </ng-container>
</div>