<div class="contenedor animated fadeIn">
  <!-- Header section -->
  <div class="header-section">
    <!-- Header section title -->
    <div class="header-section-title">
      <div class="header-section-title-title">
        <span class="header-section-title-title-container">
          <span *ngIf="organization.created_by._id === user._id">
            <mat-icon class="icon-header warning">star</mat-icon>
          </span>
          <span *ngIf="organization.created_by._id !== user._id">
            <mat-icon class="icon-header primary">account_circle</mat-icon>
          </span>
          <span class="title" [ngClass]="{'deleted': organization.deleted_at}" [matTooltip]="organization.name"
            matTooltipPosition="right">
            {{organization.name}}
          </span>
        </span>
      </div>
      <span class="header-section-title-subtitle">
        Creada {{organization.created_at | time}}
      </span>
    </div>
    <!-- header section title end -->
    <!-- header section buttons -->
    <div class="header-section-buttons">
      <button class="button" mat-icon-button (click)="selectOrganization(organization)">
        <mat-icon matTooltip="Ingresar a la organización" matTooltipPosition="above" class="button-icon">meeting_room
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="!organization.deleted_at && !(organizationLoading$ | async)"
        (click)="desactivateOrganization(organization)">
        <mat-icon matTooltip="Desactivar" matTooltipPosition="above" class="button-toggle success">toggle_on
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="organization.deleted_at && !(organizationLoading$ | async)"
        (click)="activateOrganization(organization)">
        <mat-icon matTooltip="Activar" matTooltipPosition="above" class="button-toggle danger">toggle_off
        </mat-icon>
      </button>

      <button class="button" mat-icon-button *ngIf="organizationLoading$ | async">
        <mat-spinner class="button-spinner" diameter="15"></mat-spinner>
      </button>
    </div>
    <!-- header section buttons end -->
  </div>
  <!-- Header section end -->
</div>