<div class="col-md-12">
  <h5 *ngIf="!data.organization">
    Nueva Organización
  </h5>
  <h5 *ngIf="data.organization">
    Editar la Organización
  </h5>
</div>
<mat-divider></mat-divider>

<div mat-dialog-content class="mt-3">
  <form [formGroup]="form" class="mt-3" (ngSubmit)="createOrUpdateOrganization()">
    <div class="col-md-12 d-flex justify-content-end">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la organización</mat-label>
        <input matInput type="text" placeholder="Nombre de la organización" formControlName="name" name="name"
          autocomplete="off">
        <mat-error *ngIf="form.controls['name'].errors?.avaible">
          Ya eres <strong>propietario</strong> o <strong>perteneces</strong> a una organización con este nombre.<strong>
            Por favor elije otro.</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['name'].errors?.required">
          <strong>No olvides</strong> escribir arriba un nombre para tu organización.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12 d-flex justify-content-end mt-4">
      <button type="submit" mat-flat-button color="warn" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        <span> Guardar</span>
      </button>
    </div>
  </form>
</div>