<ng-container *ngIf="areas$ | async as areas">
  <ng-container *ngIf="organization.created_by._id === user._id">
    <div class="card-text mt-5" *ngIf="areas">
      <div class="card-subtitle d-flex align-items-center">
        <i class="fa fa-tags mr-1" aria-hidden="true"></i>
        Áreas de la organización
        <button *ngIf="!organization.deleted_at"
          class="btn btn-xs btn-info btn-rounded ml-2 py-0 d-flex justify-content-center align-items-center"
          (click)="addArea()"> <i class="fa fa-tag" aria-hidden="true" (click)="addArea()"></i> Agregar Área
        </button>
      </div>
      <hr>
      <span class="text-muted " *ngIf="!areas.length">La organización aún no posee áreas</span>
      <app-loading *ngIf="loading$ | async"></app-loading>
      <table class="table table-striped text-muted" *ngIf="areas.length">
        <tr>
          <th>Área</th>
          <th>Responsable</th>
          <th>Fecha de alta</th>
          <th>Fecha de baja</th>
          <th></th>
        </tr>
        <tr app-organization-areas-list-items *ngFor="let area of areas" [area]="area" [user]="user"></tr>
      </table>
    </div>
  </ng-container>
</ng-container>
