<ng-container *ngIf="areas$ | async as areas">
  <ng-container *ngIf="organization.created_by._id === user._id">

    <span class="text-muted fadeIn slower mt-4" *ngIf="!areas.length">La organización aún no posee áreas</span>
    <app-loading class="fadeIn slower" *ngIf="loading$ | async"></app-loading>
    <ng-container *ngIf="animation$ | async as animation">
      <table class="table" *ngIf="areas.length">
        <thead>
          <tr class="bg-personalized">
            <td>Área</td>
            <td>Responsable</td>
            <td>Miembros</td>
            <td>Fecha de alta</td>
            <td>Fecha de baja</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr app-organization-areas-list-items *ngFor="let area of areas" [area]="area" [user]="user">
          </tr>
        </tbody>
      </table>
    </ng-container>

  </ng-container>
</ng-container>
