.contenedor {
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: 50px minmax(20px, 1fr);
  /* grid-template-rows: repeat(3, minmax(10px, auto)); */
  grid-template-areas:
    "image name"
    "image comment-info"
    "comment comment";
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
}

.contenedor .name {
  display: flex;
  align-items: center;
  grid-area: name;
}


.date {
  position: relative;
  bottom: 5px;
  font-size: 0.8em;
  opacity: 0.5;
}

.contenedor .comment {
  grid-area: comment;
  position: relative;
  top: 5px;
  left: 40px;
}

.comment-content {
  max-width: 100%;
  height: auto;
  font-size: 0.9em;
  padding: 8px 15px;
  border-radius: 7px;
  display: grid;
  grid-template-areas:
    "content content";
}


.comment-content .content {
  margin-bottom: 5px;
  font-size: 0.9em;
  grid-area: content;
}

.contenedor .comment-info {
  display: flex;
  justify-content: flex-start;
  font-size: 0.7em;
  opacity: 0.4;
  grid-area: comment-info;
  font-size: .6em;
}

.message-owner {
  background-color: rgba(122, 214, 235, 0.1);
}

.message-partner {
  background-color: rgba(237, 217, 115, 0.1);
}

.card-img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 35px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: auto;
  border-radius: 50%;
}
