<div class="contenedor">
  <div>
    <button mat-button [matBadge]="originalArray | stateFilterCounter:'all'" matBadgePosition="after"
      matBadgeSize="small" matBadgeColor="primary" (click)="filtrar('all')">
      Todo
    </button>
  </div>
  <div>
    <button mat-button [matBadge]="originalArray | stateFilterCounter:'active'" matBadgePosition="after"
      matBadgeSize="small" matBadgeColor="warn" (click)="filtrar('active')">
      Activo
    </button>
  </div>
  <div>
    <button mat-button [matBadge]="originalArray | stateFilterCounter:'inactive'" matBadgePosition="after"
      matBadgeSize="small" matBadgeColor="warn" (click)="filtrar('inactive')">
      Inactivo
    </button>
  </div>
</div>