<ng-container *ngIf="animations$ | async as animations">
  <mat-card [ngClass]="{'background-content-card-active': !area.deleted_at, 'background-content-card-inactive': area.deleted_at,
'text-muted': area.deleted_at}">
    <mat-card-header class="d-flex justify-content-between">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>
        <span class="area-title">{{area.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="area.responsible">{{area.responsible}}</span>
        <span *ngIf="!area.responsible">Sin responsable</span>
      </mat-card-subtitle>
      <div class="d-flex justify-content-end">
        <button class="button" mat-icon-button matTooltip="Ingresar al área" matTooltipPosition="above"
          (click)="selectArea(area)">
          <mat-icon>meeting_room</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="d-flex align-items-center">
      <span class="organization-card-info d-flex align-items-center">
        <mat-icon class="icon">supervised_user_circle</mat-icon>
        Miembros /
        <mat-spinner *ngIf="membersLoading" diameter="15"></mat-spinner>
        <span class="ml-1 animated" [ngClass]="animations[3]" *ngIf="!membersLoading">
          {{members.length}}
        </span>
      </span>
      <span class="organization-card-info d-flex align-items-center ml-4">
        <mat-icon class="icon">watch_later</mat-icon>
        Creada el /
        <span class="success ml-1">
          {{area.created_at | date:'dd-MM-yyyy'}}
        </span>
      </span>
      <span class="organization-card-info d-flex align-items-center ml-4" *ngIf="area.deleted_at">
        <mat-icon class="icon">delete</mat-icon> Dada de baja el /
        <span class="danger ml-1">
          {{area.deleted_at | date:'dd-MM-yyyy'}}
        </span>
      </span>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel class="w-100" [ngClass]="{'background-content-card-active': !area.deleted_at, 'background-content-card-inactive': area.deleted_at,
'text-muted': area.deleted_at}">
    <mat-expansion-panel-header class="background-content-expansion-active">
      <mat-panel-description>
        Ver más informacion
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row mt-3">
      <div class="col-md-12">
        <h6>
          <mat-icon class="icon">chat</mat-icon>
          Tickets del área
        </h6>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-between">
      <div class="col-md-3 animated value-container">
        <div class="row">
          <div class="col-12 card-title d-flex justify-content-center text-danger">Pendientes</div>
          <div class="col-12 d-flex justify-content-center">
            <span class="value">0</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 animated value-container">
        <div class="row">
          <div class="col-12 card-title d-flex justify-content-center text-secondary">Despachados</div>
          <div class="col-12 d-flex justify-content-center">
            <span class="value">0</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 animated value-container">
        <div class="row">
          <div class="col-12 card-title d-flex justify-content-center text-success">Resueltos</div>
          <div class="col-12 d-flex justify-content-center">
            <span class="value">0</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 animated value-container">
        <div class="row">
          <div class="col-12 card-title d-flex justify-content-center text-info">Todos</div>
          <div class="col-12 d-flex justify-content-center">
            <span class="value">0</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="col-md-12">
        <h6>
          <mat-icon class="icon">supervised_user_circle</mat-icon>
          Miembros del área
        </h6>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="members" class="member-table">

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element" class="member-table-content"> {{element.user.name}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element" class="member-table-content"> {{element.user.last_name}} </td>
          </ng-container>

          <ng-container matColumnDef="tickets_pendientes">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Tickets Pendientes </th>
            <td mat-cell *matCellDef="let element" class="member-table-content text-center">
              0
            </td>
          </ng-container>

          <ng-container matColumnDef="tickets_resueltos">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Tickets Despachados </th>
            <td mat-cell *matCellDef="let element" class="member-table-content text-center">
              0
            </td>
          </ng-container>

          <ng-container matColumnDef="tickets_despachados">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Tickets Resueltos </th>
            <td mat-cell *matCellDef="let element" class="member-table-content text-center">
              0
            </td>
          </ng-container>

          <ng-container matColumnDef="tickets_totales">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Tickets Totales </th>
            <td mat-cell *matCellDef="let element" class="member-table-content text-center">
              0
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

  </mat-expansion-panel>
</ng-container>