html,
body {
  margin: 0;
  height: 100% !important;
  font-family: "Helvetica";
  background-color: rgb(237, 237, 237) !important;
}

/* 
mat-paginator {
  background-color: rgba(255, 255, 255, 0) !important;
}

.mat-card-img {
  object-fit: cover;
  width: 75%;
  height: auto;
  border-radius: 50%;
}

.section-title {
  font-size: 1.1em;
  position: relative;
  bottom: 1px;
}

.section-title-container {
  opacity: 0.6;
}

.icon {
  position: relative;
  top: 3px;
  font-size: 1.2em;
}

.save-icon {
  position: relative;
  top: 4px;
  font-size: 1.2em;
}

.empty-message {
  font-size: 0.8em;
  opacity: 0.5;
}


.delay-300ms {
  animation-delay: 300ms;
}

.delay-500ms {
  animation-delay: 500ms;
}

.delay-700ms {
  animation-delay: 700ms;
}

.delay-900ms {
  animation-delay: 900ms;
}


.header-image {
  position: relative;
  right: 10px;
  background-size: cover;
}


.mat-paginator-navigation-next,
.mat-paginator-navigation-previous {
  outline: none !important;
}

.subtitle {
  position: relative;
  bottom: 4px;
  font-size: 0.8em;
}

.ticket-dialog {
  height: 600px;
  width: 600px;
}

.progress-bar {
  position: relative;
  bottom: 20px;
} */
