@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//Default
// $candy-app-primary: mat-palette($mat-light-blue, A700);
$candy-app-primary: mat-palette($mat-blue-gray, 700);
$candy-app-accent: mat-palette($mat-light-blue, 900);
$candy-app-warn: mat-palette($mat-red, A200);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);

//Pink
$dark-pink-primary: mat-palette($mat-light-blue, 300);
$dark-pink-accent: mat-palette($mat-pink, A400);
$dark-pink-warn: mat-palette($mat-amber, 300);

$dark-pink-theme: mat-dark-theme(
  $dark-pink-primary,
  $dark-pink-accent,
  $dark-pink-warn
);

//orange
$orange-primary: mat-palette($mat-deep-orange, A400);
$orange-accent: mat-palette($mat-amber, A700);
$orange-warn: mat-palette($mat-blue-gray, 600);

$orange-theme: mat-light-theme($orange-primary, $orange-accent, $orange-warn);

.default {
  .success {
    color: mat-color($mat-light-green, 800);
  }

  .danger {
    color: mat-color($mat-red, 600);
  }

  .warning {
    color: mat-color($mat-amber, 700);
  }

  .primary {
    color: mat-color($mat-blue-gray, 900);
  }

  .secondary {
    color: mat-color($mat-pink, 200);
  }

  .info {
    color: mat-color($mat-light-blue, A700);
  }

  .mat-sidenav {
    width: 85px;
    // background-color: #202f3f !important;
    background-color: mat-color($mat-blue-gray, 900);
  }

  .footer {
    background-color: #ececec !important;
  }

  .sidenav-button {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .sidenav-button:hover {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  .mat-toolbar {
    // background-color: #ececec;
    background-color: mat-color($mat-red, 900);
  }

  .badge-primary {
    background-color: mat-color($mat-blue-gray, 700);
    color: white;
  }

  .badge-warn {
    background-color: mat-color($mat-amber, 700);
    color: white;
  }

  .badge-danger {
    background-color: mat-color($mat-red, 600);
    color: white;
  }

  .badge-success {
    background-color: mat-color($mat-light-green, 800);
    color: white;
  }

  .badge-notification-success {
    background-color: #aed581;
    color: white;
  }

  .badge-notification-primary {
    background-color: #b0bec5;
    color: white;
  }

  .badge-notification-warn {
    background-color: #ffd54f;
    color: white;
  }

  .badge-notification-danger {
    background-color: #ff8a80;
    color: white;
  }

  .background-section {
    box-sizing: content-box;
    padding: 22px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
  }
}

// .purple {
//   $purple-primary: mat-palette($mat-purple, 500);
//   $purple-accent: mat-palette($mat-red, A400);
//   $purple-warn: mat-palette($mat-deep-orange, A400);

//   $purple-theme: mat-light-theme($purple-primary, $purple-accent, $purple-warn);
//   @include angular-material-theme($purple-theme);

//   $success: mat-color($mat-light-green, 800);
//   $danger: mat-color($mat-red, 600);
//   $warning: mat-color($mat-amber, 700);
//   $primary: mat-color($mat-light-blue, 900);
//   $secondary: mat-color($mat-pink, 200);
//   $info: mat-color($mat-light-blue, A700);

//   .success {
//     color: $success;
//   }

//   .danger {
//     color: $danger;
//   }

//   .warning {
//     color: $warning;
//   }

//   .primary {
//     color: $primary;
//   }

//   .secondary {
//     color: $secondary;
//   }

//   .info {
//     color: $info;
//   }

//   .sidenav {
//     width: 85px;
//     background-color: #202f3f !important;
//   }

//   .sidenav-button {
//     color: rgba(255, 255, 255, 0.5) !important;
//   }

//   .sidenav-button:hover {
//     color: rgba(255, 255, 255, 0.9) !important;
//   }
// }

// .green {
//   $green-primary: mat-palette($mat-green, 600);
//   $green-accent: mat-palette($mat-red, A400);
//   $green-warn: mat-palette($mat-deep-orange, A400);

//   $green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
//   @include angular-material-theme($green-theme);

//   $success: mat-color($mat-light-green, 800);
//   $danger: mat-color($mat-red, 600);
//   $warning: mat-color($mat-amber, 700);
//   $primary: mat-color($mat-light-blue, 900);
//   $secondary: mat-color($mat-pink, 200);
//   $info: mat-color($mat-light-blue, A700);

//   .success {
//     color: $success;
//   }

//   .danger {
//     color: $danger;
//   }

//   .warning {
//     color: $warning;
//   }

//   .primary {
//     color: $primary;
//   }

//   .secondary {
//     color: $secondary;
//   }

//   .info {
//     color: $info;
//   }

//   .sidenav {
//     width: 85px;
//     background-color: #202f3f !important;
//   }

//   .sidenav-button {
//     color: rgba(255, 255, 255, 0.5) !important;
//   }

//   .sidenav-button:hover {
//     color: rgba(255, 255, 255, 0.9) !important;
//   }
// }

.dark-pink {
  .success {
    color: mat-color($mat-lime, A400);
  }

  .danger {
    color: mat-color($mat-red, 600);
  }

  .warning {
    color: mat-color($mat-amber, 400);
  }

  .primary {
    color: mat-color($mat-light-blue, 900);
  }

  .secondary {
    color: mat-color($mat-pink, 200);
  }

  .info {
    color: mat-color($mat-light-blue, A700);
  }
  .sidenav {
    width: 85px;
    background-color: #424242;
    color: white;
  }

  .footer {
    background-color: #303030 !important;
  }

  .badge-primary {
    background-color: mat-color($mat-light-blue, 900);
    color: white;
  }

  .badge-warn {
    background-color: mat-color($mat-amber, 400);
    color: white;
  }

  .badge-danger {
    background-color: mat-color($mat-red, 600);
    color: white;
  }

  .badge-success {
    background-color: mat-color($mat-light-green, A700);
    color: white;
  }

  .background-section {
    padding: 17px;
    background-color: rgba(120, 120, 120, 0.2);
    border-radius: 15px;
  }

  @include angular-material-theme($dark-pink-theme);
}

.orange {
  .success {
    color: mat-color($mat-light-green, 800);
  }

  .danger {
    color: mat-color($mat-red, 600);
  }

  .warning {
    color: mat-color($mat-deep-orange, A400);
  }

  .primary {
    color: mat-color($mat-light-blue, 900);
  }

  .secondary {
    color: mat-color($mat-pink, 200);
  }

  .info {
    color: mat-color($mat-light-blue, A700);
  }

  .sidenav {
    width: 85px;
    background-color: #37474f !important;
  }

  .sidenav-button {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .sidenav-button:hover {
    color: rgba(255, 255, 255, 0.9) !important;
  }

  @include angular-material-theme($orange-theme);
}
