@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$success: mat-color($mat-light-blue, A700);
$danger: mat-color($mat-amber, 700);

.success{
  color: $success;
}

.danger{
  color: $danger;
}

$candy-app-primary: mat-palette($mat-light-blue, A700);
$candy-app-accent: mat-palette($mat-deep-orange, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-amber, 700);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);
.default {
  // Define the palettes for your theme using the Material Design palettes available in palette.scss
  // (imported above). For each palette, you can optionally specify a default, lighter, and darker
  // hue. Available color palettes: https://material.io/design/color/
  @include angular-material-theme($candy-app-theme);
}

.purple {
  $purple-primary: mat-palette($mat-purple, 500);
  $purple-accent: mat-palette($mat-red, A400);

  // The warn palette is optional (defaults to red).
  $purple-warn: mat-palette($mat-deep-orange, A400);

  // Create the theme object (a Sass map containing all of the palettes).
  $purple-theme: mat-light-theme($purple-primary, $purple-accent, $purple-warn);
  @include angular-material-theme($purple-theme);


}

.green {
  $green-primary: mat-palette($mat-green, 600);
  $green-accent: mat-palette($mat-red, A400);

  // The warn palette is optional (defaults to red).
  $green-warn: mat-palette($mat-deep-orange, A400);

  // Create the theme object (a Sass map containing all of the palettes).
  $green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
  @include angular-material-theme($green-theme);
}

.dark-pink {
  $dark-pink-primary: mat-palette($mat-pink, A400);
  $dark-pink-accent: mat-palette($mat-light-blue, 100);

  // The warn palette is optional (defaults to red).
  $dark-pink-warn: mat-palette($mat-amber, 500);

  // Create the theme object (a Sass map containing all of the palettes).
  $dark-pink-theme: mat-dark-theme($dark-pink-primary, $dark-pink-accent, $dark-pink-warn);
  @include angular-material-theme($dark-pink-theme);

  $success: mat-color($mat-lime, A400);
  $danger: mat-color($mat-amber, 500);

  .success{
    color: $success;
  }
  
  .danger{
    color: $danger;
  }
  
}

