<div class="contenedor">

  <div class="mensaje animated" *ngIf="!comments.length">
    <span class="empty-message">No se encontraron comentarios, se el primero en escribir uno para que tus compañeros
      esten al tanto de lo que sucede con el incidente!</span>
  </div>

  <ng-container *ngIf="comments.length">

    <div class="list-card animated fadeIn" *ngFor="let comment of comments | paginator:since:until">
      <app-comment-list-card [comment]="comment" [user]="user">
      </app-comment-list-card>
    </div>

    <div class="paginador">
      <mat-paginator [length]="comments.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
      </mat-paginator>
    </div>

  </ng-container>
</div>