.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "section1"
    "footer";
}

.contenedor .header {
  background-color: steelblue;
  grid-area: header;
}

.contenedor .section1 {
  background-color: greenyellow;
  grid-area: section1;
}

.contenedor .footer {
  background-color: red;
  grid-area: footer;
  position: absolute;
  bottom: 0;
}
